.ngm-search-icon {
  mask: url('./images/icon_search.svg') no-repeat center;
  -webkit-mask: url('./images/icon_search.svg') no-repeat center;
}

.ngm-close-icon {
  mask: url('./images/i_close.svg') no-repeat center;
  -webkit-mask: url('./images/i_close.svg') no-repeat center;
}

.ngm-dashboard-icon {
  width: 20px;
  height: 14px;
  mask: url('./images/i_menu.svg') no-repeat center;
  -webkit-mask: url('./images/i_menu.svg') no-repeat center;
}

.ngm-data-icon {
  width: 24px;
  height: 20px;
  mask: url('./images/i_layer.svg') no-repeat center;
  -webkit-mask: url('./images/i_layer.svg') no-repeat center;
}

.ngm-tools-icon {
  width: 22px;
  height: 22px;
  mask: url('./images/i_tools.svg') no-repeat center;
  -webkit-mask: url('./images/i_tools.svg') no-repeat center;
}

.ngm-share-icon {
  width: 22px;
  height: 22px;
  mask: url('./images/i_share.svg') no-repeat center;
  -webkit-mask: url('./images/i_share.svg') no-repeat center;
}

.ngm-user-icon {
  width: 18px;
  height: 18px;
  mask: url('./images/i_user.svg') no-repeat center;
  -webkit-mask: url('./images/i_user.svg') no-repeat center;
}

.ngm-help-icon {
  width: 22px;
  height: 20px;
  mask: url('./images/i_help.svg') no-repeat center;
  -webkit-mask: url('./images/i_help.svg') no-repeat center;
}

.ngm-settings-icon {
  width: 20px;
  height: 20px;
  mask: url('./images/i_config.svg') no-repeat center;
  -webkit-mask: url('./images/i_config.svg') no-repeat center;
}

.ngm-nav-close-icon {
  width: 24px;
  height: 24px;
  mask: url('./images/i_navigation_closed.svg') no-repeat center;
  -webkit-mask: url('./images/i_navigation_closed.svg') no-repeat center;
}

.ngm-zoom-p-icon {
  width: 24px;
  height: 24px;
  mask: url('./images/i_zoom_plus.svg') no-repeat center;
  -webkit-mask: url('./images/i_zoom_plus.svg') no-repeat center;
}

.ngm-zoom-o-icon {
  width: 24px;
  height: 24px;
  mask: url('./images/i_zoom_origin.svg') no-repeat center;
  -webkit-mask: url('./images/i_zoom_origin.svg') no-repeat center;
}

.ngm-zoom-m-icon {
  width: 24px;
  height: 24px;
  mask: url('./images/i_zoom_minus.svg') no-repeat center;
  -webkit-mask: url('./images/i_zoom_minus.svg') no-repeat center;
}

.ngm-map-icon {
  width: 24px;
  height: 24px;
  mask: url('./images/i_switzerland.svg') no-repeat center;
  -webkit-mask: url('./images/i_switzerland.svg') no-repeat center;
}

.ngm-cam-icon {
  width: 24px;
  height: 14px;
  mask: url('./images/i_cam.svg') no-repeat center;
  -webkit-mask: url('./images/i_cam.svg') no-repeat center;
}

.ngm-cam-h-icon {
  width: 24px;
  height: 24px;
  mask: url('./images/i_cam_height.svg') no-repeat center;
  -webkit-mask: url('./images/i_cam_height.svg') no-repeat center;
}

.ngm-cam-d-icon {
  width: 24px;
  height: 24px;
  mask: url('./images/i_cam_angle.svg') no-repeat center;
  -webkit-mask: url('./images/i_cam_angle.svg') no-repeat center;
}

.ngm-cam-t-icon {
  width: 24px;
  height: 22px;
  mask: url('./images/i_cam_tilt.svg') no-repeat center;
  -webkit-mask: url('./images/i_cam_tilt.svg') no-repeat center;
}

.ngm-dropdown-icon {
  width: 24px;
  height: 24px;
  mask: url('./images/i_menu-1.svg') no-repeat center;
  -webkit-mask: url('./images/i_menu-1.svg') no-repeat center;
}

.ngm-visible-icon {
  width: 24px;
  height: 24px;
  mask: url('./images/i_visible.svg') no-repeat center;
  -webkit-mask: url('./images/i_visible.svg') no-repeat center;
}

.ngm-invisible-icon {
  width: 24px;
  height: 24px;
  mask: url('./images/i_invisible.svg') no-repeat center;
  -webkit-mask: url('./images/i_invisible.svg') no-repeat center;
}

.ngm-zoom-to-icon {
  width: 24px;
  height: 24px;
  mask: url('./images/i_heranzoomen.svg') no-repeat center;
  -webkit-mask: url('./images/i_heranzoomen.svg') no-repeat center;
}

.ngm-delete-icon {
  width: 24px;
  height: 24px;
  mask: url('./images/i_delete.svg') no-repeat center;
  -webkit-mask: url('./images/i_delete.svg') no-repeat center;
}

.ngm-action-menu-icon {
  width: 24px;
  height: 24px;
  mask: url('./images/i_action_menu.svg') no-repeat center;
  -webkit-mask: url('./images/i_action_menu.svg') no-repeat center;
}
