@import 'variables.css';

@import '@fontsource/inter/index.css';

@import 'fomantic-ui-css/components/reset.css';
@import 'fomantic-ui-css/components/message.css';
@import 'fomantic-ui-css/components/list.css';
@import 'fomantic-ui-css/components/item.css';
@import 'fomantic-ui-css/components/icon.css';
@import 'fomantic-ui-css/components/input.css';
@import 'fomantic-ui-css/components/button.css';
@import 'fomantic-ui-css/components/segment.css';
@import 'fomantic-ui-css/components/checkbox.css';
@import 'fomantic-ui-css/components/table.css';
@import 'fomantic-ui-css/components/dimmer.css';
@import 'fomantic-ui-css/components/loader.css';
@import 'fomantic-ui-css/components/accordion.css';
@import 'fomantic-ui-css/components/popup.css';
@import 'fomantic-ui-css/components/transition.css';
@import 'fomantic-ui-css/components/toast.css';
@import 'fomantic-ui-css/components/divider.css';
@import 'fomantic-ui-css/components/grid.css';
@import 'fomantic-ui-css/components/modal.css';
@import 'fomantic-ui-css/components/form.css';
@import 'fomantic-ui-css/components/slider.css';
@import 'fomantic-ui-css/components/dropdown.css';
@import 'fomantic-ui-css/components/label.css';
@import 'fomantic-ui-css/components/progress.css';
@import 'fomantic-ui-css/components/header.css';
@import 'fomantic-ui-css/components/card.css';

@import 'widgets.css';

@import 'search.css';
@import 'ngm-height-slider.css';
@import 'ngm-object-information.css';
@import 'ngm-gst-modal.css';
@import 'keyboard-navigation.css';
@import 'layers.css';
@import 'ngm-map-configuration.css';
@import 'ngm-camera-information.css';
@import 'ngm-position-edit.css';
@import 'ngm-map-chooser.css';
@import 'ngm-tracking-consent.css';
@import 'ngm-layer-legend.css';
@import 'icons.css';
@import 'ngm-side-bar.css';
@import 'ngm-nav-tools.css';
@import 'ngm-minimap.css';
@import 'header.css';
@import 'ngm-cam-configuration.css';
@import 'ngm-slider.css';
@import 'notifications.css';
@import 'ngm-toolbox.css';
@import 'ngm-checkbox.css';
@import 'ngm-geometry-info.css';
@import 'ngm-input.css';
@import 'ngm-share-link.css';

* {
  scrollbar-color: light;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.0);
}

::-webkit-scrollbar-thumb {
  background: rgba(134, 142, 150, 0.5);
  border-radius: 100px;
}

[hidden] {
  display: none !important;
}

html, body {
  height: 100%;
  font-size: 14px;
}

body {
  line-height: 1.4285em;
  display: flex;
  overflow: hidden;
}

/* FIXME: create a fomantic-ui build with the correct font */
body, .ui.button, .ui.accordion .title:not(.ui), .ui.input > input {
  font-family: 'Inter', sans-serif;
}

a {
  text-decoration: none;
}

div, img {
  user-select: none;
}

#outdated-browser {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('../images/outdated-background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fafafb;
  z-index: 2;
}

#outdated-browser .ui.message {
  width: 600px;
  margin: 5em auto;
}

main {
  flex: auto;
  display: flex;
  overflow: hidden;
}

ngm-app {
  flex: auto;
  display: flex;
  flex-direction: column;
}

.map {
  display: flex;
  flex-direction: column;
  flex: auto;
}

.map .footer {
  display: flex;
  padding: 0 4px;
  background-color: rgba(214, 214, 214, 0.9);
}

.map .footer .ui.list {
  margin: 0;
}

.map .footer .ui.list .item {
  vertical-align: middle;
}

#cesium {
  display: flex;
  flex: auto;
}

/* This is workaround to make the 'clientHeight' works in cesium when the parent element is in flex grow */
#cesium .cesium-widget {
  position: absolute;
}

#cesium .cesium-viewer {
  flex: auto;
  width: auto;
  height: auto;
}

/* End of workaround */

#cesium .cesium-viewer-bottom {
  pointer-events: none;
}

#cesium .cesium-viewer-bottom .cesium-widget-credits {
  pointer-events: all;
}

.language-settings {
  display: flex;
  flex-direction: column;
}

.language-settings label {
  margin-top: 12px;
  margin-bottom: 12px;
}

.language-settings .ui.horizontal.list {
  border: 1px solid lightgrey;
  width: fit-content;
  padding-right: 7px;
  box-shadow: 0 2px 3px #00000029;
}

.language-settings .ui.selection.list .item {
  color: #0B7285;
  font-weight: 900;
}

:lang(de) .lang-de, :lang(fr) .lang-fr, :lang(it) .lang-it, :lang(en) .lang-en {
  color: #A83526 !important;
}

.ui.checkbox label {
  cursor: pointer;
}

.no-pointer-events {
  pointer-events: none;
}

#divinspector {
  position: absolute;
  z-index: 10;
}

ngm-auth > a {
  cursor: pointer;
}

ngm-gst-interaction > .ui.tiny.icon.buttons {
  display: flex;
}

[data-tooltip]:before, [data-tooltip]:after {
  transition: none;
}

ngm-slow-loading > .ui.inverted.segment {
  right: calc(100vw / 2 - 125px);
  z-index: 1001 !important;
}

ngm-slow-loading > .ui.inverted.segment {
  position: absolute;
  padding: 5px;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
  width: 250px;
  text-align: center;
  margin: 6px;
}

ngm-slow-loading .ui.inverted.accordion > .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px;
  user-select: none;
}

ngm-slow-loading .ui.inverted.accordion > .content {
  text-align: left;
}

ngm-full-screen-view {
  position: absolute;
  right: 37px;
  top: 100%;
  z-index: 1;
}

ngm-full-screen-view.full-active {
  right: 10px;
  top: 10px;
}

ngm-loading-mask .progress {
  width: 18%;
}

.layerloader {
  line-height: 1rem;
}

.small_load_counter {
  font-size: 0.5rem;
  vertical-align: bottom;
}

ngm-layer-legend-container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  pointer-events: none;
}

ngm-layer-legend-container > ngm-layer-legend {
  pointer-events: auto;
}

.ngm-floating-window {
  background: #F1F3F5;
  box-shadow: 4px 4px 2px #00000029;
  border-radius: 8px;
  position: absolute;
  z-index: 2;
  top: 98px;
  padding: 10px 12px 8px 12px;
}

.ngm-floating-window .ngm-drag-area {
  height: 32px;
}

.ngm-floating-window .ngm-drag-area > div {
  border: 1px solid #DFE2E6;
  margin-top: 2px;
}

.ngm-floating-window-header {
  height: 32px;
  border-bottom: 2px solid #DFE2E6;
  display: flex;
  align-items: center;
  font: normal normal bold 14px/24px Inter;
  letter-spacing: 0.14px;
  color: #212529;
  margin-bottom: 8px;
  padding-bottom: 10px;
}

.ngm-floating-window-header .ngm-close-icon {
  width: 24px;
  height: 24px;
  background-color: #000000;
  margin-left: auto;
  cursor: pointer;
}

.ngm-divider {
  width: 100%;
  border: 1px solid #E0E3E6;
}

.ngm-disabled {
  cursor: default;
  opacity: 0.45 !important;
  background-image: none;
  box-shadow: none;
  pointer-events: none !important;
}

.ngm-action-menu.ui.dropdown.pointing > .menu {
  border: 0;
  border-radius: 0;
  box-shadow: 6px 6px 8px #00000029;
  font: normal normal 500 14px/20px Inter;
  color: #212529;
  right: 11px;
}

.ngm-action-menu.ui.dropdown .menu .item:hover {
  background-color: #C5F6FA;
}

.ngm-action-menu.ui.dropdown .menu .active.item {
  font-weight: normal;
}


.ngm-action-menu.ui.dropdown.pointing .menu::after {
  display: none;
}

.ngm-action-btn.ui.button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 208px;
  height: 36px;
  letter-spacing: 0.25px;
  box-shadow: 0 1px 3px #00000033;
  background-color: #357183;
  color: white;
}

.ngm-zoom-obj-btn .ngm-zoom-plus-icon {
  background-color: white;
}

.ngm-action-btn.ui.button:hover > div {
  background-color: #357183;
}

.ngm-cancel-btn.ui.button:hover,
.ngm-action-btn.ui.button:hover {
  color: #357183;
  background-color: var(--ngm-action-hover);
}

.ngm-action-btn.ui.labeled.icon.button > .icon {
  padding-top: 8px;
  font-size: 20px;
}

@media (max-height: 630px) {
  .map {
    margin-bottom: 72px;
  }
}

.user-select-text {
  user-select: text !important;
  cursor: text;
}
