@import 'typeface-source-sans-pro/index.css';

@import 'fomantic-ui-css/components/reset.css';
@import 'fomantic-ui-css/components/message.css';
@import 'fomantic-ui-css/components/list.css';
@import 'fomantic-ui-css/components/item.css';
@import 'fomantic-ui-css/components/icon.css';
@import 'fomantic-ui-css/components/input.css';
@import 'fomantic-ui-css/components/button.css';
@import 'fomantic-ui-css/components/segment.css';
@import 'fomantic-ui-css/components/checkbox.css';
@import 'fomantic-ui-css/components/table.css';
@import 'fomantic-ui-css/components/dimmer.css';
@import 'fomantic-ui-css/components/loader.css';

@import 'cesium/Build/Cesium/Widgets/widgets.css';

@import 'search.css';

[hidden] {
  display: none !important;
}

html, body {
  height: 100%;
  font-size: 14px;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.4285em;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

header, footer {
  display: flex;
}

header {
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  background-image: url('images/header-geologieportal.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  background-color: #fff;
}

header > .logo {
  margin-right: 80px;
  margin-bottom: 10px;
}

footer {
  padding: 0 4px;
  background-color: rgba(214, 214, 214, 0.9);
}

footer .link.list .item {
  vertical-align: middle;
}

#outdated-browser {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('images/outdated-background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fafafb;
  z-index: 2;
}

#outdated-browser .ui.message {
  width: 600px;
  margin: 5em auto;
}

main {
  flex: auto;
  display: flex;
  overflow: hidden;
}

#cesium {
  flex: auto;
}

#cesium .cesium-viewer-bottom {
  pointer-events: none;
}
#cesium .cesium-viewer-bottom .cesium-widget-credits {
  pointer-events: all;
}

:lang(de) .lang-de, :lang(fr) .lang-fr, :lang(it) .lang-it, :lang(en) .lang-en, :lang(rm) .lang-rm {
  font-weight: bold;
}

#cesium > .buttons {
  position: absolute;
  z-index: 1;
  margin: 6px;
  right: 0;
}

#zoomToHome {
  position: absolute;
  z-index: 1;
  margin: 6px;
  cursor: pointer;
}

.sidebar {
  min-width: 280px;
}
.sidebar.left {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.ui.checkbox label {
  cursor: pointer;
}

#layers {
  margin: 2px;
}

.layer-slider {
  display: flex;
}

ngm-object-information {
  position: absolute;
  z-index: 1;
  margin: 6px;
  right: 0;
}

ngm-object-information .header {
  display: flex;
}

ngm-object-information .ui.table {
  margin-top: 0;
}

ngm-object-information .ui.table .key {
  font-weight: 600;
}

ngm-object-information .ui.table .val {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}
