@import 'typeface-source-sans-pro/index.css';

@import 'fomantic-ui-css/components/reset.css';
@import 'fomantic-ui-css/components/message.css';
@import 'fomantic-ui-css/components/list.css';
@import 'fomantic-ui-css/components/item.css';
@import 'fomantic-ui-css/components/icon.css';
@import 'fomantic-ui-css/components/input.css';
@import 'fomantic-ui-css/components/button.css';
@import 'fomantic-ui-css/components/segment.css';
@import 'fomantic-ui-css/components/checkbox.css';
@import 'fomantic-ui-css/components/table.css';
@import 'fomantic-ui-css/components/dimmer.css';
@import 'fomantic-ui-css/components/loader.css';
@import 'fomantic-ui-css/components/accordion.css';
@import 'fomantic-ui-css/components/popup.css';
@import 'fomantic-ui-css/components/transition.css';
@import 'fomantic-ui-css/components/toast.css';
@import 'fomantic-ui-css/components/divider.css';
@import 'fomantic-ui-css/components/grid.css';
@import 'fomantic-ui-css/components/modal.css';
@import 'fomantic-ui-css/components/form.css';

@import 'cesium/Build/Cesium/Widgets/widgets.css';

@import 'search.css';
@import 'ngm-object-information.css';
@import 'ngm-gst-modal.css';
@import 'area-of-interest.css';
@import 'keyboard-navigation.css';
@import 'layers.css';
@import 'slider.css';

[hidden] {
  display: none !important;
}

html, body {
  height: 100%;
  font-size: 14px;
}

body {
  line-height: 1.4285em;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* FIXME: create a fomantic-ui build with the correct font */
body, .ui.button, .ui.accordion .title:not(.ui), .ui.input > input {
  font-family: 'Source Sans Pro', sans-serif;
}

a {
  text-decoration: none;
}

header {
  display: flex;
}

header {
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  background-image: url('images/header-geologieportal.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  background-color: #fff;
}

header > .logo {
  margin-right: 80px;
  margin-left: 40px;
  margin-bottom: 10px;
}

#outdated-browser {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('images/outdated-background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fafafb;
  z-index: 2;
}

#outdated-browser .ui.message {
  width: 600px;
  margin: 5em auto;
}

main {
  flex: auto;
  display: flex;
  overflow: hidden;
}

.map {
  display: flex;
  flex-direction: column;
  flex: auto;
}
.map .footer {
  display: flex;
  padding: 0 4px;
  background-color: rgba(214, 214, 214, 0.9);
}

.map .footer .ui.list {
  margin: 0;
}
.map .footer .ui.list .item {
  vertical-align: middle;
}

#cesium {
  display: flex;
  flex: auto;
}

/* This is workaround to make the 'clientHeight' works in cesium when the parent element is in flex grow */
#cesium .cesium-widget {
  position: absolute;
}
#cesium .cesium-viewer {
  flex: auto;
  width: auto;
  height: auto;
}
/* End of workaround */

#cesium .cesium-viewer-bottom {
  pointer-events: none;
}

#cesium .cesium-viewer-bottom .cesium-widget-credits {
  pointer-events: all;
}

:lang(de) .lang-de, :lang(fr) .lang-fr, :lang(it) .lang-it, :lang(en) .lang-en {
  font-weight: bold;
}

.navigation-widgets {
  position: absolute;
  z-index: 1;
  right: 0;
  margin: 6px;
}

.navigation-widgets, ngm-navigation-widgets {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navigation-widgets .ui.button, ngm-elevator-buttons{
  margin: .5em 0 0 0;
}

cesium-compass {
  width: 98px;
  height: 98px;
  --cesium-compass-stroke-color:rgba(0, 0, 0, 0.6);
  --cesium-compass-fill-color: rgb(224, 225, 226);
}

cesium-view-cube {
  --cesium-view-cube-stroke-color: rgba(0, 0, 0, 0.6);
  --cesium-view-cube-fill-color: rgb(224, 225, 226);
  --cesium-view-cube-opacity: 0.8;
}

ngm-map-chooser {
  bottom: 30px;
  right: 10px;
  position: absolute;
  z-index: 10;
}

.sidebar {
  width: 300px;
  overflow-y: auto;
  overflow-x: inherit;
  height: 100%;
}

.sidebar.left {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.ui.checkbox label {
  cursor: pointer;
}

.ui.icon.buttons .button > .icon.svg-icon {
  opacity: 0.6;
}

.ui.icon.buttons .button:hover > .icon.svg-icon {
  opacity: 0.8;
}

.ui.icon.buttons .grey.button > .icon.svg-icon, .ui.icon.buttons .grey.button:hover > .icon.svg-icon {
  opacity: 0.9;
}

.ui.buttons .button > .icon.horizontal-layer:before {
  content: svg-load('../images/horizontal-layer.svg', fill=#000);
}

.ui.buttons .grey.button > .icon.horizontal-layer:before {
  content: svg-load('../images/horizontal-layer.svg', fill=#fff);
}

body:after { /* Beta label */
  content: "beta";
  position: fixed;
  width: 80px;
  height: 25px;
  background: #ff0000;
  top: 7px;
  left: -20px;
  text-align: center;
  font-size: 13px;
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  line-height: 27px;
  transform: rotate(-45deg);
}

.ngm-header-links {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.ngm-header-links > a {
  color: #ff0000;
}

.no-pointer-events {
  pointer-events: none;
}
