#ngm-navigation-info {
  margin-right: 70px;
  max-width: 510px; /* fomatic-ui fix for Edge */
}

#ngm-navigation-info .ngm-keyboard-info-content {
  width: 500px;
  max-height: 80vh;
  overflow-y: auto;
}

#ngm-navigation-info h4 {
  margin: 5px 0 10px 0;
}

#ngm-navigation-info .ngm-keyboard-tip {
  font-style: italic;
}

#ngm-navigation-info .row {
  padding: 2px 10px;
  display: flex;
}

#ngm-navigation-info .row > div {
  flex: 1;
}

#ngm-navigation-info .row > img {
  width: 100%;
}
