.ui.styled.accordion .ngm-layer-title.title,
.ui.accordion .ngm-layer-title.title {
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}

.ui.accordion .ngm-layer-content.content,
.ui.styled.accordion .ngm-layer-content.content {
  padding-bottom: 0.5em;
}

.ngm-layer-content .ngm-layers-categories.ui.accordion {
  border: 0;
  box-shadow: none;
  margin: 0;
  font-size: 0.95em;
}

.ngm-layer-divider.ui.divider {
  margin: 10px 0;
}

.ngm-displayed-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 18px;
}
.ngm-displayed-container label {
  margin-right: 10px;
}
