.ngm-displayed-slider {
  width: 257px;
  margin-left: 25px;
}

.ngm-displayed-slider label:first-of-type {
  word-wrap: break-word;
  display: inline;
  display: inline-block;
  max-width: 210px;
}

.ngm-displayed-slider label:last-of-type {
  float: right;
}

.ngm-layer-icon {
  background-color: #0B7285;
  cursor: pointer;
  max-height: 20px;
  max-width: 22px;
  margin-top: 18px;
}

.ngm-layer-icon:hover, .ngm-layer-icon:focus{
  background-color: #66D9E8;
}

.ngm-layer-icon:active {
  background-color: #15AABF;
}

ngm-layers-item, .ngm-base-layer {
  display: flex;
  align-items: center;
  flex-direction: row;
}

ngm-layers-item, .ngm-base-layer > div:first-child {
  margin-left: 11px;
}

ngm-layers-item .ngm-displayed-menu {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  margin-right: -20px;
}

ngm-layers-item .ngm-displayed-menu .ngm-layer-icon {
  margin-right: 30px;
}

ngm-layers-item .ui.dropdown .menu {
  right: 48px;
  left: auto;
  top: 9px;
  border: 0;
  border-radius: 0;
}

ngm-layers-item .ui.dropdown .menu .item:hover {
  background-color: #C5F6FA;
}

/* KML upload */
ngm-layers-upload button {
  cursor: pointer;
  display: flex;
  align-items: center;
  letter-spacing: 0.25px;
  font-weight: bold;
  color: #0B7285;
  background-color: #F1F3F5;
  border: 2px dashed #0B7285;
  margin-top: 9px;
  padding-left: 10px;
  height: 46px;
  width: 100%;
}

ngm-layers-upload .ngm-upload-icon {
  pointer-events: none;
  background-color: #0B7285;
  margin-top: 0;
  margin-left: 12px;
  width: 20px;
  height: 20px;
}

.ngm-extension-panel .ui.header {
  margin-top: 7px;
}

.ngm-extension-panel .ui.divider {
  margin-top: 15px;
  margin-bottom: 8px;
  border-top: 1px solid #DFE2E6 !important;
  border-bottom: 1px solid #DFE2E6 !important;
}

/* Layer catalog */
ngm-catalog .ui.accordion, ngm-catalog .ui.accordion .content {
  margin: 0 !important;
  padding: 0 !important;
}

ngm-catalog .ui.accordion .title {
  display: flex;
  align-items: center;
}

ngm-catalog .ui.accordion .title label {
  cursor: pointer;
  margin-left: 5px;
  color: #212529;
}

ngm-catalog .ui.accordion .title.first-level {
  font-weight: bold;
}

ngm-catalog .ui.accordion .title.active label, .ngm-catalog-entry .displayed {
  color: #A83526 !important;
}

ngm-catalog .ui.accordion .title:hover label, .ngm-catalog-entry:hover label {
  color: #FF0000 !important;
}

/* Dropdown icon */
ngm-catalog .ui.accordion .ngm-dropdown-icon {
  background-color: #0B7285;
}

ngm-catalog .ui.accordion .title.active .ngm-dropdown-icon {
  background-color: #A83526;
  transform: rotate(90deg);
}

ngm-catalog .ui.accordion .title:hover .ngm-dropdown-icon {
  background-color: #FF0000;
}

 /* Catalog entry with custom checkbox */
.ngm-catalog-entry {
  /* display: block; */
  position: relative;
  padding-left: 28px;
  margin-left: 3px;
  margin-top: 8px;
  margin-bottom: 8px;
  /* align-items: center; */
  cursor: pointer;
}

/* Hide the browser's default checkbox */
.ngm-catalog-entry input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

/* Custom checkbox */
.checkmark {
  position: absolute;
  top: 1px;
  left: 1px;
  height: 18px;
  width: 18px;
  border: 2px solid #0B7285;
  border-radius: 3px;
}

.ngm-catalog-entry input:checked ~ .checkmark {
  background-color: #A83526;
  border: 2px solid #A83526;
}

.ngm-catalog-entry:hover input ~ .checkmark {
  border: 2px solid #FF0000;
}

.ngm-catalog-entry:hover input:checked ~ .checkmark {
  background-color: #FF0000;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.ngm-catalog-entry input:checked ~ .checkmark:after {
  display: block;
}

.ngm-catalog-entry .checkmark:after {
  left: 4px;
  top: 0px;
  width: 5.5px;
  height: 12px;
  border: solid white;
  border-width: 0 2.5px 2.5px 0;
  transform: rotate(45deg);
}
