.ngm-displayed-slider {
  width: 257px;
  margin-left: 25px;
}

.ngm-displayed-slider label:first-of-type {
  word-wrap: break-word;
  display: inline;
  display: inline-block;
  max-width: 210px;
}

.ngm-displayed-slider label:last-of-type {
  float: right;
}

.ngm-layer-icon {
  background-color: #0B7285;
  cursor: pointer;
  max-height: 20px;
  max-width: 22px;
}

.ngm-layer-icon:hover, .ngm-layer-icon:focus {
  background-color: #66D9E8;
}

.ngm-layer-icon:active {
  background-color: #15AABF;
}

ngm-layers-item, .ngm-base-layer {
  display: flex;
  align-items: end;
  flex-direction: row;
}

ngm-layers-item, .ngm-base-layer > div:first-child {
  padding: 0 11px;
}

ngm-layers-item .ngm-displayed-menu {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

ngm-layers-item .ngm-displayed-menu .ngm-layer-icon {
  margin-right: 30px;
}

ngm-layers-item .ngm-displayed-menu .ngm-layer-icon.ngm-action-menu-icon {
  margin-right: 0;
}

/* KML upload */
ngm-layers-upload button {
  cursor: pointer;
  display: flex;
  align-items: center;
  letter-spacing: 0.25px;
  font-weight: bold;
  color: #0B7285;
  background-color: #F1F3F5;
  border: 2px dashed #0B7285;
  margin-top: 9px;
  padding-left: 10px;
  height: 46px;
  width: 100%;
}

ngm-layers-upload .ngm-upload-icon {
  pointer-events: none;
  background-color: #0B7285;
  margin-top: 0;
  margin-left: 12px;
  width: 20px;
  height: 20px;
}

ngm-layers-upload button:hover {
  color: #66D9E8;
  border: 2px dashed #66D9E8;
}

ngm-layers-upload button:hover .ngm-upload-icon {
  background-color: #66D9E8;
}

ngm-layers-upload button.active {
  color: #FF0000;
  border: 2px dashed #FF0000;
}

ngm-layers-upload button.active .ngm-upload-icon {
  background-color: #FF0000;
}

ngm-layers-item .ui.dropdown .menu .item:hover {
  background-color: var(--ngm-action-hover);
}

.ngm-extension-panel .ui.header {
  margin-top: 7px;
}

.ngm-extension-panel .ui.divider {
  margin-top: 15px;
  margin-bottom: 8px;
  border-top: 1px solid #DFE2E6 !important;
  border-bottom: 1px solid #DFE2E6 !important;
}

/* Layer catalog */
ngm-catalog .ui.accordion, ngm-catalog .ui.accordion .content {
  margin: 0 !important;
  padding: 0 !important;
}

ngm-catalog .ui.accordion .title {
  display: flex;
  align-items: center;
}

ngm-catalog .ui.accordion .title label {
  cursor: pointer;
  margin-left: 11px;
  color: #212529;
}

ngm-catalog .ui.accordion .title.first-level {
  font-weight: bold;
}

ngm-catalog .ui.accordion .title.active label, .ngm-catalog-entry .displayed {
  color: #A83526 !important;
}

ngm-catalog .ui.accordion .title:hover label, .ngm-catalog-entry:hover label {
  color: #FF0000 !important;
}

/* Dropdown icon */
ngm-catalog .ui.accordion .ngm-dropdown-icon {
  background-color: #0B7285;
}

ngm-catalog .ui.accordion .title.active .ngm-dropdown-icon {
  background-color: #A83526;
  transform: rotate(90deg);
}

ngm-catalog .ui.accordion .title:hover .ngm-dropdown-icon {
  background-color: #FF0000;
}

ngm-catalog .ngm-checkbox {
  margin-left: 4px;
  color: #212529
}

/* KML upload */
ngm-layers-upload button {
  cursor: pointer;
  display: flex;
  align-items: center;
  letter-spacing: 0.25px;
  font-weight: bold;
  color: #0B7285;
  background-color: #F1F3F5;
  border: 2px dashed #0B7285;
  margin-top: 9px;
  padding-left: 10px;
  height: 46px;
  width: 100%;
}

ngm-layers-upload .ngm-upload-icon {
  pointer-events: none;
  background-color: #0B7285;
  margin-top: 0;
  margin-left: 12px;
  width: 20px;
  height: 20px;
}

ngm-layers-upload button:hover {
  color: #66D9E8;
  border: 2px dashed #66D9E8;
}

ngm-layers-upload button:hover .ngm-upload-icon {
  background-color: #66D9E8;
}

ngm-layers-upload button.active {
  color: #FF0000;
  border: 2px dashed #FF0000;
}

ngm-layers-upload button.active .ngm-upload-icon {
  background-color: #FF0000;
}

/* FIXME: Grey out action menue until further specification */
ngm-layers-upload .ui.dropdown {
  pointer-events: none;
}

ngm-layers-upload .ngm-action-menu-icon {
  background-color: gray;
}
