ngm-camera-information {
  display: flex;
  align-items: center;
  width: 260px;
}

ngm-camera-information table tbody td {
  padding: 0 12px;
}

ngm-camera-information table .value {
  font-weight: 600;
}
