ngm-cam-configuration {
  width: 260px;
  color: #495057;
  text-align: left;
  letter-spacing: 0;
}

.ngm-cam-container > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #DFE2E6;
  padding: 10px;
}

.ngm-cam-container > div > div:first-child {
  background-color: #0B7285;
}

.ngm-cam-conf-slider > div:first-child {
  display: flex;
  justify-content: space-between;
}

.ngm-cam-conf-slider > input {
  width: 100%;
}

.ngm-cam-coord {
  display: flex;
  flex-direction: column;
}

.ngm-cam-conf-slider,
.ngm-cam-coord {
  width: 180px;
}
