ngm-cam-configuration {
  width: 260px;
  color: #495057;
  text-align: left;
  letter-spacing: 0;
  right: 64px;
}

.ngm-cam-container > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #DFE2E6;
  padding: 10px;
}

.ngm-cam-container > div > div:first-child {
  background-color: #0B7285;
  cursor: pointer;
}

.ngm-cam-container > div > div:first-child:hover {
  background-color: var(--ngm-interaction-hover);
}

.ngm-cam-container > div > div.ngm-active-icon {
  background-color: var(--ngm-interaction-active);
}

.ngm-cam-conf-slider > div:first-child {
  display: flex;
  justify-content: space-between;
}

.ngm-cam-conf-slider > input {
  width: 100%;
}

.ngm-cam-coord {
  display: flex;
  flex-direction: column;
}

.ngm-cam-coord .dropdown {
  background-color: transparent;
  font: normal normal bold 15px/24px Inter;
  padding-left: 0;
}

.ngm-cam-coord .ngm-coords {
  font: normal normal bold 15px/24px Inter;
  letter-spacing: 0.16px;
  color: #222529;
}

.ngm-cam-conf-slider,
.ngm-cam-coord {
  width: 180px;
}
