
ngm-layer-legend {
  position: absolute;
  z-index: 2;
  margin: 6px;
}

ngm-layer-legend .header {
  display: flex;
}

ngm-layer-legend .header .title {
  margin-right: 10px;
}

ngm-layer-legend .header a {
  color: rgba(0, 0, 0, 0.4);
}

ngm-layer-legend .ui.divider {
  margin: 10px 0;
}
