.ngm-help-btn.ui.button {
  width: 0;
  padding: 0;
}

.ngm-help-btn.ui.button > i.icon {
  margin: 0 !important;
}

.ngm-aoi-tooltip-container [data-tooltip]:after {
  width: 250px;
  text-align: center;
  white-space: normal;
}

.ngm-aoi-title {
  white-space: nowrap;
  font-weight: normal;
}

.ui.accordion.ngm-aoi-areas {
  margin: 0;
}

.ui.accordion.ngm-aoi-areas .title {
  display: flex;
  border-bottom: 1px solid rgba(34, 36, 38, 0.15);
}

.ngm-aoi-content .ui.buttons {
  width: 90%;
  margin-bottom: 5px;
}

.ngm-aoi-buttons.ui.buttons {
  margin-bottom: 5px;
}

.ngm-aoi-buttons.ui.buttons > button {
  flex: 1
}

.ngm-aoi-content {
  padding: 10px 0 0 0 !important;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #f3f3f3;
}

.ngm-btns-field,
ngm-gst-interaction,
ngm-toolbox-slicer {
  width: 100%;
}

.ngm-btns-field,
.ngm-slice-btns-container,
.ngm-gst-btns-container {
  display: flex;
  justify-content: center;
  margin: 5px 0;
}

.ngm-slice-btns-container > .tiny.buttons > button:first-child,
.ngm-gst-btns-container > .tiny.buttons > button:first-child {
  flex: 3;
}

.ngm-slice-btns-container .ui.buttons .ui.button > i.icon.ngm-slice-warn {
  margin-left: 15px;
}

.ngm-volume-limits-input {
  display: flex;
  justify-content: space-evenly;
}

.ngm-aoi-edit {
  padding: 0 10px 10px 10px;
  background-color: #f3f3f3;
}

.ngm-aoi-edit .ui.buttons button.ui.button {
  background-color: white;
}

.ngm-aoi-edit input {
  width: 85px;
}

.ngm-aoi-input-container {
  display: flex;
  flex-direction: column;
}

.ngm-aoi-input-container textarea {
  width: 100%;
}

.ngm-aoi-symbol-selector,
.ngm-aoi-color-selector {
  display: flex;
  border-radius: 5px;
  padding: 2px;
  background-color: #e0e1e2;
  margin-bottom: 2px;
}

.ngm-aoi-color-container {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  border: 1px solid #80808040;
  margin: 1px;
}

.ngm-aoi-symbol-selector img {
  width: 32px;
  height: 32px;
}

.ui.button.ngm-aoi-point-style-btn {
  margin-left: 84px;
  margin-right: 0;
}

