.ngm-draw-list-item,
.ngm-tools-list-item {
  display: flex;
  align-items: center;
  color: #212529;
  text-align: left;
  font: normal normal bold 14px/20px Inter;
  letter-spacing: 0;
  padding: 14px 0;
}

.ngm-draw-list-item:hover,
.ngm-tools-list-item:hover {
  color: #FF0000;
}

.ngm-draw-list-item div:nth-child(2),
.ngm-tools-list-item div:nth-child(2) {
  margin-left: 12px;
}

.ngm-draw-list-item:hover div:nth-child(1),
.ngm-tools-list-item:hover div:nth-child(1) {
  background-color: #FF0000;
}
