ngm-dashboard .ngm-panel-header,
.ngm-projects-title,
.ngm-proj-views-title {
  margin-bottom: 12px;
}

.ngm-proj-views-title,
.ngm-projects-title {
  display: flex;
  color: #212529;
  font: normal normal bold 14px/20px Inter;
}

.ngm-proj-views-title > div:first-child {
  margin-right: 15px;
}

.ngm-dashboard-tabs {
  color: var(--ngm-interaction);
  display: flex;
}

.ngm-dashboard-tabs > div:hover {
  color: var(--ngm-interaction-hover);
}

.ngm-dashboard-tabs > div.active {
  color: var(--ngm-interaction-active);
}

.ngm-dashboard-tabs > div:not(:last-child) {
  margin-right: 24px;
}

.ngm-projects-list {
  display: flex;
}

.ngm-projects-list > div:not(:last-child) {
  margin-right: 16px;
}

.ngm-proj-preview {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 2px 2px 2px #00000029;
  border-radius: 8px;
  width: 240px;
  height: 228px;
}

.ngm-proj-preview-img {
  width: 240px;
  height: 132px;
  background-size: cover;
  background-repeat: no-repeat;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.ngm-proj-preview-title {
  background-color: var(--ngm-interaction-active);
  width: 240px;
  height: 32px;
  color: white;
  font: normal normal bold 14px/28px Inter;
}

.ngm-proj-preview-subtitle {
  width: 100%;
  height: calc(100% - 164px);
  font: normal normal 500 14px/20px Inter;
  color: #212529;
}

.ngm-proj-preview-subtitle,
.ngm-proj-preview-title {
  display: flex;
  align-items: center;
  padding: 0 8px;
}

ngm-dashboard .ngm-divider {
  margin-top: 16px;
  margin-bottom: 19px;
}
