ngm-minimap {
  display: flex;
  flex-direction: column;
  right: 64px;
}

.ngm-compass {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 25px;
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 34px;
}

.ngm-minimap-container {
  cursor: pointer;
}

.ngm-minimap-container .ngm-map-marker {
  cursor: grab;
}

.ngm-minimap-container .ngm-map-marker:active {
  cursor: grabbing;
}

.ngm-compass-arrow > div.ngm-compass-arrow-top {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 12px solid #FF0000;
}

.ngm-compass-arrow > div.ngm-compass-arrow-bottom {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 12px solid #DEE2E6;
}

.ngm-floating-window div.ngm-drag-area {
  height: auto;
}
