ngm-nav-tools {
  width: 44px;
  height: 258px;
  right: 75px;
}

.ngm-nav-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 220px;
  cursor: pointer;
}

ngm-nav-tools.ngm-floating-window {
  padding: 5px;
}

.ngm-nav-buttons > div {
  background-color: #0B7285;
}

.ngm-nav-buttons > div:hover {
  background-color: #FE0F17;
}

.ngm-nav-buttons > div.ngm-active-icon,
.ngm-nav-buttons > div:active {
  background-color: var(--ngm-interaction-active);
}

.ngm-nav-buttons .ngm-coords-icon,
.ngm-nav-buttons .ngm-cam-icon {
  padding-top: 10px;
  padding-bottom: 20px;
}
