.ngm-coord-input, .ngm-angle-height-input {
  display: flex;
}

.ngm-angle-height-input {
  margin-top: 5px;
}

.ngm-angle-height-input > div:first-child {
  margin-right: 5px;
}

#ngm-position-edit-popup {
  min-width: 290px;
}

#ngm-position-edit-popup input {
  width: 100px;
}
