
ngm-object-information {
  position: absolute;
  z-index: 2;
  margin: 6px;
  right: 0;
}

ngm-object-information .header {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

ngm-object-information .ui.table {
  margin-top: 0;
}

ngm-object-information .ui.table .key {
  font-weight: 600;
}

ngm-object-information .ui.table .val {
  min-width: 160px;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}

ngm-object-information .ui.table .val img {
  max-width: 200px;
}

ngm-object-information .ui.divider {
  margin: 10px 0 0 0;
}

ngm-object-information .content-container {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 65vh;
}
