ngm-aoi-drawer .ngm-geom-label {
  margin-top: 12px;
  margin-bottom: 16px;
  font: normal normal 500 14px/20px Inter;
  color: #212529;
}

.ngm-geom-item.active,
.ngm-draw-list-item.active {
  color: #A83526;
}

.ngm-draw-list-item.active div:nth-child(1) {
  background-color: #A83526;
}

.ngm-draw-hint {
  background-color: #C5F6FA;
  color: #212529;
  box-shadow: 4px 4px 2px #00000029;
  font: normal normal bold 14px/20px Inter;
  letter-spacing: 0;
  padding: 12px;
  border-radius: 8px;
}

.ngm-draw-hint > .ngm-info-icon {
  margin-left: auto;
}

.ngm-geom-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #F8F9FA;
  color: #0B7285;
  height: 36px;
  font: normal normal bold 14px/20px Inter;
  padding: 10px 8px;
  margin-bottom: 4px;
}

.ngm-geom-item:hover {
  color: #FF0000;
}
