ngm-tracking-consent {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 6px;
  max-height: calc(100vh - var(--ngm-header-height) - 10px);
  overflow-y: auto;
  z-index: 3;
}

ngm-tracking-consent .ui.card {
  background-color: var(--ngm-hover);
  color: #212529;
  box-shadow: 4px 4px 2px #00000029;
}

ngm-tracking-consent .ui.card > .content {
  font-weight: bold;
  padding: 16px;
  border-top: none
}

ngm-tracking-consent .ui.card > .content a {
  color: #0C7285;
}

ngm-tracking-consent .ui.button,
ngm-tracking-consent .ui.button:hover {
  background-color: var(--ngm-interaction);
  color: #fff;
  text-shadow: none;
  background-image: none;
  margin-bottom: 2px;
}

@media (max-height: 629px), (max-width: 599px) {
  ngm-tracking-consent {
    max-height: calc(100vh - var(--ngm-header-height) - var(--ngm-bottom-menu-height) - 10px);
    bottom: calc(var(--ngm-bottom-menu-height) + 5px);
  }
}

@media (max-width: 1193px) {
  ngm-tracking-consent {
    width: 85%;
  }
}
