
.ngm-maps-container {
  display: flex;
}

.ngm-map-preview img {
  display: block;
  width: 64px;
  height: 64px;
}

.ngm-map-preview {
  cursor: pointer;
  padding: 4px;
  background-color: white;
  margin-right: 4px;
  border: 1px solid lightgrey;
}

.ngm-map-preview:last-child {
  margin-right: 0;
}

.ngm-map-preview.active {
  border: 1px solid red;
  outline: 1px solid red;
}
