ngm-height-slider {
  position: absolute;
  z-index: 1;
  right: 25px;
}

ngm-height-slider input {
  -webkit-appearance: none;
  transform: rotate(270deg);
  transform-origin: right;
  width: 72vh;
  height: 20px;
  background-image: linear-gradient(to left, #1893EF 14%, #87DEF7 14%, #E2F8FB 55%, #B0A8A0 55%, #534741 100%)
}


ngm-height-slider input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  transform: rotate(270deg);
  width: 32px;
  height: 32px;
  border: 0;
  background: center/100% url('./images/i_cam_position.svg');
  cursor: pointer;
}

ngm-height-slider input::-moz-range-thumb {
  width: 32px;
  height: 32px;
  transform: rotate(270deg);
  border: 0;
  background: center/100% url('./images/i_cam_position.svg');
  cursor: pointer;
}

@media (max-height: 629px), (max-width: 599px) {
  ngm-height-slider input {
    max-width: 72vh;
    width: calc(100vh - (var(--ngm-header-height-mobile) + var(--ngm-bottom-menu-height) + 15px));
  }
}
