
ngm-object-information {
  position: absolute;
  z-index: 2;
  margin: 6px;
  right: 0;
  overflow-y: auto;
  max-height: 80vh;
}

ngm-object-information .header {
  display: flex;
}

ngm-object-information .ui.table {
  margin-top: 0;
}

ngm-object-information .ui.table .key {
  font-weight: 600;
}

ngm-object-information .ui.table .val {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}
