.ui.toast-container.bottom.center .toast-box.floating, .ui.toast-container.bottom.center {
  border: none;
  box-shadow: none;
}

.snackbar {
  color: white;
  background-color: #495057;
  padding: 12px 16px 13px 16px;
  border-radius: 8px;
  box-shadow: 6px 6px 8px #00000029;
}

.ui.toast-container.bottom.center .toast-box.floating .snackbar .actions {
  display: flex;
  justify-content: end;
  background-color: #495057;
  border: none;
  border-radius: 8px;
}

.snackbar.success {
  color: #212529;
  background-color: #8CE99A;
}

.snackbar.error {
  color: #212529;
  background-color: #FFA8A8;
}

.snackbar.warning {
  color: #212529;
  background-color: #FFC078;
}

.actions .ui.button.ngm-action-btn {
  width: auto;
}

.actions .ui.button.ngm-cancel-btn {
  background-color: #DEE2E6;
  color: #495057;
}

.ngm-toast-placeholder > .ui.toast-container.attached {
  position: relative;
  margin-bottom: 5px;
}

.ngm-toast-placeholder div.snackbar {
  display: flex;
  align-items: center;
}

.ngm-toast-placeholder div.snackbar > img {
  margin-right: 12px;
}
