
ga-search {
  align-self: center;
  flex: 2;
  min-width: 260px;
  max-width: 496px;
  height: 56px;
}

ga-search.ui.input > input {
  background: #f1f3f5;
  color: #000000;
  font-size: 16px;
  border: 2px solid transparent;
  border-radius: 4px;
}

ga-search.ui.input > input:hover {
  background-color: #ffffff
}

ga-search.ui.input > input:focus {
  background-color: var(--ngm-hover);
}

ga-search.ui.input > input:focus,
ga-search.ui.input > input:hover {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-color: transparent;
  border-bottom-color: #66D9E8;
}

ga-search.ui.input > input:focus,
ga-search.ui.input > input::placeholder {
  color: #000000;
}

ga-search.ui.input > input::-webkit-search-decoration,
ga-search.ui.input > input::-webkit-search-cancel-button,
ga-search.ui.input > input::-webkit-search-results-button,
ga-search.ui.input > input::-webkit-search-results-decoration {
  display: none;
}

.ngm-search-icon-container {
  width: 30px;
  height: 100%;
  position: absolute;
  right: 12px;
  color: #66D9E8;
  background-color: var(--ngm-interaction);
}

.ngm-search-icon-container.ngm-close-icon {
  cursor: pointer;
}

.mobile-search-active ga-search .ngm-search-icon {
  display: none;
}

/* FIXME: use existing fomantic component */
ga-search > .search-results {
  z-index: 2 !important;
  background-color: #fff;
  box-shadow: 0 3px 4px #00000029;
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 300px;
  overflow-y: auto;
}

ga-search > .search-results > .autocomplete-result {
  padding: 4px 8px 4px 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

ga-search > .search-results > .autocomplete-result .highlight {
  background-color: #ffec99;
}

ga-search > .search-results > .autocomplete-result[aria-selected=true],
ga-search > .search-results > .autocomplete-result:hover {
  cursor: pointer;
  background-color: var(--ngm-hover);
}

ga-search > .search-results img {
  width: 20px;
  vertical-align: middle;
  color: #868E96;
}

ga-search > .search-results {
  text-align: left;
  font: normal normal normal 16px/24px 'Inter';
  letter-spacing: 0.16px;
  color: #212529;
}

ga-search > .search-results i {
  font: italic normal normal 16px/24px Inter;
  letter-spacing: 0.15px;
}

ga-search > .search-results b {
  font: normal normal bold 16px/24px Inter;
}
