header {
  display: flex;
  align-items: center;
  padding: 0 16px;
  height: var(--ngm-header-height);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  z-index: 6;

  --header-padding-l: 56px;
  --header-padding-r: 16px;

  --content-width: calc(
    100vw - var(--header-padding-l) - var(--header-padding-r)
  );
  --suffix-width: 90px;
}

@media (min-width: 700px) {
  header {
    justify-content: flex-start;
  }
}

header > * {
  display: flex;
}

header > .left {
  display: inline-flex;
  align-items: center;
  gap: 160px;
}

header a#ngm-home-link {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #212529;
  z-index: 1;
  height: fit-content;
}

@media (min-width: 700px) {
  header .a {
    width: unset;
    margin-right: 102px;
  }
}

header > a .logo-text {
  padding-left: 8px;
}

.ngm-search-icon-mobile,
.ngm-map-icon {
  margin-right: 20px;
  background-color: var(--ngm-interaction);
  cursor: pointer;
}

.ngm-search-icon-mobile {
  width: 24px;
  height: 24px;
}

.ngm-search-icon-mobile.active,
.ngm-map-icon.active {
  background-color: var(--ngm-interaction-active);
}

.ngm-search-icon-mobile:hover,
.ngm-map-icon:hover {
  background-color: var(--ngm-interaction-hover);
}

@media (max-width: 1193px) {
  .ngm-map-icon {
    margin-right: 10px;
  }
}

header .ngm-header-suffix {
  width: var(--suffix-width);
  max-width: var(--suffix-width);
  display: flex;
  align-items: center;
  gap: 8px;
}

@media (min-width: 700px) {
  header .ngm-header-suffix {
    /* Push the suffix to the end of header. */
    margin-left: auto;

    width: unset;
    max-width: unset;
  }
}
