@import "variables.css";

@import "cesium/Build/Cesium/Widgets/widgets.css";

@import "@fontsource/inter/index.css";

@import "fomantic-ui-css/components/reset.css";
@import "fomantic-ui-css/components/message.css";
@import "fomantic-ui-css/components/list.css";
@import "fomantic-ui-css/components/item.css";
@import "fomantic-ui-css/components/icon.css";
@import "fomantic-ui-css/components/input.css";
@import "fomantic-ui-css/components/button.css";
@import "fomantic-ui-css/components/segment.css";
@import "fomantic-ui-css/components/checkbox.css";
@import "fomantic-ui-css/components/table.css";
@import "fomantic-ui-css/components/dimmer.css";
@import "fomantic-ui-css/components/loader.css";
@import "fomantic-ui-css/components/accordion.css";
@import "fomantic-ui-css/components/popup.css";
@import "fomantic-ui-css/components/transition.css";
@import "fomantic-ui-css/components/toast.css";
@import "fomantic-ui-css/components/divider.css";
@import "fomantic-ui-css/components/grid.css";
@import "fomantic-ui-css/components/modal.css";
@import "fomantic-ui-css/components/form.css";
@import "fomantic-ui-css/components/slider.css";
@import "fomantic-ui-css/components/dropdown.css";
@import "fomantic-ui-css/components/label.css";
@import "fomantic-ui-css/components/header.css";
@import "fomantic-ui-css/components/card.css";

@import "search.css";
@import "ngm-object-information.css";
@import "ngm-modal.css";
@import "keyboard-navigation.css";
@import "layers.css";
@import "ngm-map-configuration.css";
@import "ngm-point-edit.css";
@import "ngm-position-edit.css";
@import "ngm-map-chooser.css";
@import "ngm-layer-legend.css";
@import "icons.css";
@import "ngm-side-bar.css";
@import "ngm-nav-tools.css";
@import "ngm-minimap.css";
@import "header.css";
@import "ngm-cam-configuration.css";
@import "ngm-slider.css";
@import "notifications.css";
@import "ngm-toolbox.css";
@import "ngm-checkbox.css";
@import "ngm-geometry-info.css";
@import "ngm-input.css";
@import "ngm-share-link.css";
@import "ngm-dashboard.css";
@import "ngm-action-list-item.css";
@import "topographic-profile.css";
@import "ngm-voxel-filter.css";
@import "ngm-voxel-simple-filter.css";
@import "ngm-coordinate-popup.css";
@import "ngm-ion-modal.css";
@import "ngm-info-table.css";
@import "../styles/index.css";

* {
  scrollbar-color: light;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background: rgba(134, 142, 150, 0.5);
  border-radius: 100px;
}

[hidden] {
  display: none !important;
}

html,
body {
  height: 100%;
  font-size: 14px;
}

body {
  line-height: 1.4285em;
  display: flex;
  overflow: hidden;
}

/* FIXME: create a fomantic-ui build with the correct font */
body,
.ui.button,
.ui.accordion .title:not(.ui),
.ui.input > input,
.ui.header {
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
}

div,
img {
  user-select: none;
}

#outdated-browser {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("/images/outdated-background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fafafb;
  z-index: 2;
}

#outdated-browser .ui.message {
  width: 600px;
  margin: 5em auto;
}

main {
  flex: auto;
  display: flex;
  overflow: hidden;
}

ngm-app,
ngm-app-boot {
  flex: auto;
  display: flex;
  flex-direction: column;
}

.map {
  display: flex;
  flex-direction: column;
  flex: auto;
}

.map .footer {
  display: flex;
  padding: 0 4px;
  background-color: rgba(214, 214, 214, 0.9);
}

.map .footer .ui.list {
  margin: 0;
}

.map .footer .ui.list .item {
  vertical-align: middle;
}

cesium-view-cube {
  --cesium-view-cube-stroke-color: transparent;
  --cesium-view-cube-fill-color: transparent;
}

#cesium {
  display: flex;
  flex: auto;
  position: relative;
}

/* This is workaround to make the 'clientHeight' works in cesium when the parent element is in flex grow */
#cesium .cesium-widget {
  position: absolute;
}

#cesium .cesium-viewer {
  flex: auto;
  width: auto;
  height: auto;
}

/* End of workaround */

#cesium .cesium-viewer-bottom {
  pointer-events: none;
}

#cesium .cesium-viewer-bottom .cesium-widget-credits {
  pointer-events: all;
}

.toolbar-settings {
  display: flex;
  flex-direction: column;
}

.toolbar-settings > label {
  margin-top: 12px;
  margin-bottom: 12px;
}

.ngm-lang-dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6px;
  width: 69px;

  padding: 8px 12px;
  border-radius: 4px;
  color: var(--color-main);
}

.ngm-lang-dropdown:hover {
  background-color: var(--color-hovered);
  color: var(--color-main--dark);
}

.ngm-lang-dropdown.active ngm-icon[icon="dropdown"] {
  transform: rotate(180deg);
}

.ngm-lang-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.ngm-lang-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  gap: 12px;
  width: 85px;
  font-size: 14px;
  font-family: var(--font);
  line-height: 20px;
  letter-spacing: calc(14px * 0.0025);
}

.ngm-lang-item:hover {
  background-color: var(--color-pressed);
}

.ngm-lang-title .ngm-dropdown-icon {
  background-color: var(--ngm-interaction);
  transform: rotate(90deg);
}

.ui.dropdown .menu {
  box-shadow:
    0 2px 4px -1px #0000000f,
    0 4px 10px -1px #00000014;
}

.ui.dropdown .menu .ngm-lang-dropdown.active.item {
  font-weight: 500;
}

.ngm-lang-dropdown.active .ngm-lang-title .ngm-dropdown-icon {
  transform: rotate(-90deg);
}

.ui.checkbox label {
  cursor: pointer;
}

.no-pointer-events {
  pointer-events: none;
}

#divinspector {
  position: absolute;
  z-index: 10;
}

ngm-gst-interaction > .ui.tiny.icon.buttons {
  display: flex;
}

[data-tooltip]:before,
[data-tooltip]:after {
  transition: none;
}

ngm-slow-loading > .ui.inverted.segment {
  right: calc(100vw / 2 - 125px);
  z-index: 1001 !important;
}

ngm-slow-loading > .ui.inverted.segment {
  position: absolute;
  padding: 5px;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
  width: 250px;
  text-align: center;
  margin: 6px;
}

ngm-slow-loading .ui.inverted.accordion > .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px;
  user-select: none;
}

ngm-slow-loading .ui.inverted.accordion > .content {
  text-align: left;
}

ngm-full-screen-view {
  position: absolute;
  right: 37px;
  top: 100%;
  z-index: 1;
}

ngm-full-screen-view.full-active {
  right: 10px;
  top: 10px;
}

.ngm-floating-window {
  background: #f1f3f5;
  box-shadow: 4px 4px 2px #00000029;
  border-radius: 8px;
  position: absolute;
  z-index: 2;
  top: 10px;
  right: 10px;
  padding: 10px 12px 8px 12px;
}

.ngm-floating-window .ngm-drag-area {
  height: 32px;
}

.ngm-floating-window .ngm-drag-area > div {
  border: 1px solid #dfe2e6;
  margin-top: 2px;
}

.ngm-floating-window-header {
  height: 32px;
  border-bottom: 2px solid #dfe2e6;
  display: flex;
  align-items: center;
  font:
    normal normal bold 14px/24px Inter,
    sans-serif;
  letter-spacing: 0.14px;
  color: #212529;
  margin-bottom: 8px;
  padding-bottom: 10px;
}

.ngm-floating-window-header-title {
  white-space: nowrap;
  width: 85%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.ngm-floating-window-header .ngm-close-icon {
  width: 24px;
  height: 24px;
  background-color: #000000;
  margin-left: auto;
  cursor: pointer;
}

.ngm-divider {
  width: 100%;
  border: 1px solid #e0e3e6;
}

.ngm-disabled {
  cursor: default;
  opacity: 0.45 !important;
  background-image: none;
  box-shadow: none;
  pointer-events: none !important;
}

.ngm-action-menu.ui.dropdown.pointing > .menu {
  border: 0;
  border-radius: 0;
  box-shadow: 6px 6px 8px #00000029;
  font:
    normal normal 500 14px/20px Inter,
    sans-serif;
  color: #212529;
  right: 11px;
}

.ngm-action-menu.ui.dropdown .menu .item {
  max-width: 191px;
  white-space: normal;
}

.ngm-action-menu.ui.dropdown .menu .item:hover {
  background-color: #c5f6fa;
}

.ngm-action-menu.ui.dropdown .menu .active.item {
  font-weight: normal;
}

.ngm-action-menu.ui.dropdown.pointing .menu::after {
  display: none;
}

.ngm-action-btn.ui.button {
  display: flex;
  justify-content: space-between;
  overflow-wrap: break-word;
  align-items: center;
  width: 208px;
  height: 36px;
  min-height: 36px;
  letter-spacing: 0.25px;
  box-shadow: 0 1px 3px #00000033;
  background-color: #357183;
  color: white;
}

.ngm-zoom-obj-btn .ngm-zoom-plus-icon {
  background-color: white;
}

.ngm-action-btn.ui.button:hover > div {
  background-color: #357183;
}

.ngm-cancel-btn.ui.button:hover,
.ngm-action-btn.ui.button:hover {
  color: #357183;
  background-color: var(--ngm-hover);
}

.ngm-action-btn.ui.labeled.icon.button > .icon {
  padding-top: 8px;
  font-size: 20px;
}

ngm-voxel-filter .ngm-action-btn.ui.button {
  width: auto;
}

.ngm-action-btn.ui.button.preloader {
  cursor: wait;
}

.visible-mobile {
  display: none;
}

.drag-handle {
  -ms-touch-action: none;
  touch-action: none;
}

@media (max-width: 690px) {
  .ngm-lang-dropdown {
    margin-right: 10px;
  }
}

@media (max-width: 599px) {
  .visible-mobile {
    display: initial;
  }

  .hidden-mobile {
    display: none !important;
  }

  header {
    height: var(--ngm-header-height-mobile);
  }
  .map {
    margin-bottom: var(--ngm-bottom-menu-height);
    height: calc(100% - var(--ngm-bottom-menu-height));
  }

  ngm-auth .ngm-user-icon {
    margin-bottom: 0;
  }
}

.user-select-text {
  user-select: text !important;
  cursor: text;
}

.cesium-credit-expand-link {
  display: none !important;
}

.contact-mailto-link,
.disclaimer-link {
  position: absolute;
  z-index: 2;
  left: 5px;
  color: #357183;
}
.contact-mailto-link {
  bottom: 60px;
}

.disclaimer-link {
  bottom: 20px;
}

.contact-mailto-link:hover,
.disclaimer-link:hover {
  color: var(--ngm-interaction-hover);
  text-shadow: none;
}

.on-map-menu {
  position: absolute;
  z-index: 3;
  bottom: 44px;
  right: 54px;
  display: flex;
  align-content: flex-end;
}

.ui.loader {
  mask: url("/images/swisstopo_spinner.svg") center no-repeat;
  -webkit-mask: url("/images/swisstopo_spinner.svg") center no-repeat;
  background-color: var(--ngm-interaction);
  border-radius: 0 !important;
  color: rgba(0, 0, 0, 0) !important;
  width: 24px !important;
  height: 24px !important;
}

.ui.loader.determinate {
  mask: url("/images/swisstopo_spinner_determinate.svg") center no-repeat;
  -webkit-mask: url("/images/swisstopo_spinner_determinate.svg") center
    no-repeat;
}

.ui.loader:before {
  border-color: rgba(0, 0, 0, 0) !important;
}

.ngm-determinate-loader {
  display: flex;
}

.ngm-load-counter {
  color: var(--ngm-interaction);
  position: fixed;
  margin-left: 9px;
  font:
    normal normal bold 12px/15px Inter,
    sans-serif;
}

.ui.dimmer.ngm-main-load-dimmer {
  background: hsla(0, 0%, 100%, 0.85);
}

.cesium-performanceDisplay-defaultContainer {
  right: 130px;
}

.lithology-filter-buttons {
  display: flex;
  column-gap: 10px;
  margin-top: 14px;
}

.popup-arrow {
  top: -11px;
  left: 50%;
  margin-left: -11px;
  position: absolute;
  border-color: transparent;
  border-style: solid;
  border-width: 11px;
  border-top-width: 0;
}

.popup-arrow:after {
  top: 1px;
  margin-left: -10px;
  content: " ";
  border-width: 10px;
  border-top-width: 0;
  position: absolute;
  border-style: solid;
  border-color: transparent transparent #f1f3f5 transparent;
}

#cesium.full-active:after,
body:after {
  /* Beta label */
  content: "beta";
  position: fixed;
  width: 80px;
  height: 25px;
  background: #ff0000;
  top: 7px;
  left: -20px;
  text-align: center;
  font-size: 13px;
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  line-height: 27px;
  transform: rotate(-45deg);
  z-index: 6;
}

.cursor-preloader,
.cursor-preloader * {
  cursor: wait !important;
}

.disabled-container {
  pointer-events: none;
  opacity: 0.5;
}

ngm-wmts-date-picker {
  width: 250px;
}

.ngm-date-picker {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  gap: 10px;
  max-height: 300px;
  overflow: auto;
  padding: 10px;
}
