#ngm-navigation-info {
  margin-top: 2px;
  max-width: 525px;
}

#ngm-navigation-info .ngm-keyboard-info-content {
  max-height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
}
#ngm-navigation-info h4 {
  margin: 5px 0 10px 0;
}

#ngm-navigation-info .ngm-keyboard-tip {
  font-style: italic;
}

#ngm-navigation-info .row {
  padding: 2px 10px;
  display: flex;
}

#ngm-navigation-info .row > div {
  flex: 1;
}

.ngm-keyboard-layout {
  background-image: url(/images/keyboard-layout_navigation.png); /** See README for image update **/
  background-size: cover;
  width: 500px;
  height: 150px;
}

#ngm-navigation-info-btn {
  pointer-events: all;
}
