.ngm-displayed-slider {
  width: 257px;
  margin-left: 25px;
}

.ngm-displayed-slider label:first-of-type {
  word-wrap: break-word;
  display: inline-block;
  max-width: 210px;
}

.ngm-displayed-slider label:last-of-type {
  float: right;
}

.ngm-layer-icon {
  background-color: var(--ngm-interaction);
  cursor: pointer;
  max-height: 20px;
  max-width: 22px;
}

.ngm-layer-icon.ngm-invisible-icon,
.ngm-layer-icon.ngm-visible-icon {
  margin-left: 2px;
}

ngm-layers-item {
  border-bottom: 2px solid #dfe2e6 !important;
  padding: 10px;
}

ngm-layers-item .ngm-checkbox {
  width: 24px;
  height: 24px;
  margin-bottom: 0;
}

.ngm-layer-icon:not(.disabled):hover,
.ngm-layer-icon:not(.disabled):focus {
  background-color: var(--ngm-interaction-hover);
}

.ngm-layer-icon:not(.disabled):active,
.ngm-action-menu.active .ngm-action-menu-icon {
  background-color: var(--ngm-interaction-active);
}

ngm-layers-item,
.ngm-base-layer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.ngm-base-layer > div:first-child {
  padding: 0 11px;
}

ngm-layers-item .ngm-displayed-menu {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

ngm-layers-item .ngm-displayed-menu .ngm-layer-icon {
  margin-right: 30px;
}

ngm-layers-item .ngm-displayed-menu .ngm-layer-icon.ngm-action-menu-icon {
  margin-right: 0;
}

/* KML upload */
.ngm-data-panel ngm-layers-upload-action {
  display: flex;
  column-gap: 12px;
}

ngm-layers-upload-action .ngm-checkbox label {
  margin-left: 8px;
}

ngm-layers-upload-action .ngm-checkbox .ngm-checkbox-icon {
  min-width: 19px;
}

ngm-layers-upload-action button {
  cursor: pointer;
  display: flex;
  align-items: center;
  letter-spacing: 0.25px;
  font-weight: bold;
  color: var(--ngm-interaction);
  background-color: #f1f3f5;
  border: 2px dashed var(--ngm-interaction);
  margin-top: 9px;
  padding-left: 10px;
  height: 46px;
  width: 325px;
}

ngm-layers-upload-action .ngm-file-upload-icon {
  pointer-events: none;
  background-color: var(--ngm-interaction);
  margin-top: 0;
  margin-left: 12px;
  width: 20px;
  height: 20px;
}

ngm-layers-upload-action .ui.inline.loader {
  margin-left: 12px;
}

ngm-layers-upload-action button:hover {
  color: var(--ngm-interaction-hover);
  border: 2px dashed var(--ngm-interaction-hover);
}

ngm-layers-upload-action button:hover .ngm-file-upload-icon {
  background-color: var(--ngm-interaction-hover);
}

ngm-layers-upload-action button.active {
  color: var(--ngm-interaction-hover);
  border: 2px dashed var(--ngm-interaction-hover);
}

ngm-layers-upload-action button.active .ngm-file-upload-icon {
  background-color: var(--ngm-interaction-hover);
}

/* FIXME: Grey out action menue until further specification */
ngm-layers-upload-action .ui.dropdown {
  pointer-events: none;
}

ngm-layers-upload-action .ngm-action-menu-icon {
  background-color: gray;
}

ngm-layers-item .ui.dropdown .menu .item:hover {
  background-color: var(--ngm-hover);
}

.ngm-extension-panel .ui.header,
ngm-navigation-panel .ui.header {
  margin-top: 7px;
}

.ngm-extension-panel .ui.divider,
ngm-navigation-panel .ui.divider {
  margin-top: 15px;
  margin-bottom: 8px;
  border-top: 1px solid #dfe2e6 !important;
  border-bottom: 1px solid #dfe2e6 !important;
}

@media (min-width: 600px) {
  ngm-layers-upload-action button {
    min-width: 325px;
  }
}

/* Layer catalog */
ngm-catalog .ui.accordion,
ngm-catalog .ui.accordion .content {
  margin: 0 !important;
  padding: 0 !important;
}

ngm-catalog .ui.accordion .title {
  display: flex;
  align-items: center;
}

ngm-catalog .ui.accordion .title label {
  cursor: pointer;
  margin-left: 11px;
  color: #212529;
}

ngm-catalog .ui.accordion .title.first-level {
  font-weight: bold;
}

ngm-catalog .ui.accordion .title.active label,
.ngm-catalog-entry .displayed {
  color: var(--ngm-action-hover) !important;
}

ngm-catalog .ui.accordion .title:hover label,
.ngm-catalog-entry:hover label {
  color: var(--ngm-interaction-hover) !important;
}

/* Dropdown icon */
ngm-catalog .ui.accordion .ngm-dropdown-icon {
  background-color: var(--ngm-interaction);
}

ngm-catalog .ui.accordion .title.active .ngm-dropdown-icon {
  background-color: var(--ngm-action-hover);
  transform: rotate(90deg);
}

ngm-catalog .ui.accordion .title:hover .ngm-dropdown-icon {
  background-color: var(--ngm-interaction-hover);
}

ngm-catalog .ngm-checkbox {
  margin-left: 4px;
  color: #212529;
}

.ngm-upload-kml-btn {
  margin-bottom: 16px;
}

.ngm-displayed-color {
  width: 24px;
  height: 24px;
  margin-left: 15px;
}

ngm-layers-item.selected {
  background-color: var(--ngm-hover);
  cursor: move;
}

.ngm-layer-icon.ngm-delete-icon.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

ngm-layers-item.selected .ngm-slider.disabled::-moz-range-thumb {
  cursor: move;
}

ngm-layers-item.selected .ngm-slider.disabled::-webkit-slider-thumb {
  cursor: move;
}

ngm-layers-item.selected .ngm-displayed-slider label,
ngm-layers-item.selected .ngm-slider.disabled,
ngm-layers-item.selected .ngm-layer-icon.ngm-delete-icon.disabled {
  cursor: move;
}

.ngm-ion-add-content-btn.ngm-action-btn.ui.button {
  width: 325px;
  justify-content: center;
  margin-bottom: 16px;
}
