ngm-layer-legend {
  max-height: 100%;
}

ngm-layer-legend .content-container {
  max-width: 504px;
  font-size: 14px;
  margin-bottom: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 505px;
  user-select: text;
}

ngm-layer-legend .content-container.legend-html {
  width: 504px;
  max-width: 100%;
}

ngm-layer-legend .ngm-legend-container {
  background-color: #f8f9fa;
  display: flex;
}

ngm-layer-legend .ngm-legend-container > div {
  padding-left: 8px !important;
  vertical-align: top;
  white-space: nowrap;
  font-weight: bold;
}

ngm-layer-legend .ngm-legend-image {
  min-width: 160px;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 8px !important;
}

ngm-layer-legend .ngm-legend-html table a {
  color: #357183;
}

ngm-layer-legend .ngm-legend-html span,
ngm-layer-legend .ngm-legend-html p.bod-title {
  font-weight: bold;
}

ngm-layer-legend .ngm-legend-container img {
  width: 200px;
}

ngm-layer-legend .ui.divider {
  margin: 10px 0 0 0;
}

ngm-layer-legend .content-container {
}
