ngm-dashboard .ngm-panel-header,
.ngm-proj-title-icon,
.ngm-projects-list {
  margin-bottom: 12px;
}

.ngm-proj-title-icon,
.ngm-proj-title {
  display: flex;
  color: #212529;
  font:
    normal normal bold 14px/20px Inter,
    sans-serif;
  align-items: center;
}

.ngm-proj-title {
  margin-top: 12px;
  justify-content: space-between;
}

.ngm-proj-title-icon > div:first-child {
  margin-right: 15px;
}

.ngm-proj-title-icon .ngm-user-icon,
.ngm-proj-title-icon .ngm-screenshot-icon {
  width: 24px;
  height: 24px;
}

.ngm-proj-title-icon .ngm-user-icon {
  background-color: black;
}

.ngm-dashboard-tabs {
  color: var(--ngm-interaction);
  display: flex;
}

.ngm-dashboard-tabs > div:hover,
.edit-project:hover {
  color: var(--ngm-interaction-hover);
  cursor: pointer;
}

.ngm-dashboard-tabs > div.active {
  color: var(--ngm-interaction-active);
}

.ngm-dashboard-tabs > div:not(:last-child) {
  margin-right: 24px;
}

.ngm-projects-list {
  display: flex;
  column-gap: 16px;
  flex-wrap: wrap;
}

hide-overflow.ngm-projects-list {
  flex-wrap: nowrap;
}

.ngm-proj-preview {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  background-color: white;
  box-shadow: 2px 2px 2px #00000029;
  border-radius: 8px;
  width: 240px;
  height: 228px;
  cursor: pointer;
  margin: 8px 0;
}

.ngm-proj-preview.ngm-proj-create {
  align-items: center;
  justify-content: center;
  gap: 9px;
  background-color: transparent;
  box-shadow: none;
  border: 2px dashed #dfe2e6;
  font:
    normal normal normal 12px/15px Inter,
    sans-serif;
  letter-spacing: 0;
  color: #0b7285;
  cursor: pointer;
}

.ngm-proj-preview.ngm-proj-create > div {
  max-width: 50%;
  text-align: center;
}

.ngm-proj-preview.ngm-proj-create .ngm-zoom-p-icon {
  background-color: #357183;
  width: 14px;
  height: 14px;
}

.ngm-proj-preview-img {
  width: 240px;
  height: 132px;
  background-color: #f8f9fa;
  background-size: cover;
  background-repeat: no-repeat;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.ngm-proj-preview-title,
.project-color-picker {
  background-color: var(--ngm-interaction-active);
  width: 240px;
  height: 32px;
  color: white;
  font:
    normal normal bold 14px/28px Inter,
    sans-serif;
}

.project-color-picker {
  height: 87px;
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-left: 11px;
}

.ngm-proj-preview-subtitle {
  width: 100%;
  height: calc(100% - 164px);
  font:
    normal normal 500 14px/20px Inter,
    sans-serif;
  color: #212529;
}

.ngm-proj-preview-subtitle,
.ngm-proj-preview-title {
  display: flex;
  align-items: center;
  padding: 0 8px;
}

.ngm-proj-preview-subtitle span {
  height: 70%;
  display: block;
  display: -webkit-box;
  max-width: 224px;
  margin: 0 auto;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

ngm-dashboard .ngm-divider {
  margin-top: 16px;
  margin-bottom: 19px;
}

.ngm-proj-information {
  display: flex;
}

.ngm-proj-description {
  margin-left: 28px;
  font:
    normal normal 500 16px/24px Inter,
    sans-serif;
  letter-spacing: 0.16px;
  color: #4a5056;
  width: 450px;
}

.ngm-proj-data {
  margin-bottom: 16px;
  font:
    normal normal 500 14px/20px Inter,
    sans-serif;
  color: #212529;
}

.ngm-proj-description-title {
  font:
    normal normal 500 12px/15px Inter,
    sans-serif;
  letter-spacing: 0.41px;
}

ngm-project-popup {
  width: 480px;
}

ngm-project-popup.compact {
  width: 260px;
}

.ngm-project-popup-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 1px 3px #00000033;
  margin-bottom: 12px;
}

.ngm-project-view-title {
  padding: 8px 0;
  max-width: 380px;
}
.compact .ngm-project-view-title {
  max-width: 170px;
}

.ngm-project-popup-content > .ngm-play-last-icon,
.ngm-project-popup-content > .ngm-play-icon {
  cursor: pointer;
  margin: 4px;
}

.ngm-project-popup-content > .ngm-play-last-icon:hover,
.ngm-project-popup-content > .ngm-play-icon:hover {
  background-color: var(--ngm-interaction-hover);
}

ngm-dashboard .ngm-label-btn {
  display: flex;
  align-items: center;
  justify-content: start;
}

ngm-dashboard .ngm-delete-icon,
ngm-dashboard .ngm-label-btn .ngm-back-icon {
  background-color: var(--ngm-interaction);
}

ngm-dashboard .ngm-label-btn .ngm-back-icon {
  margin-right: 8px;
}

ngm-dashboard .ngm-delete-icon {
  margin-left: 5px;
}

ngm-dashboard .ngm-label-btn:hover .ngm-zoom-p-icon,
ngm-dashboard .ngm-label-btn:hover .ngm-back-icon {
  background-color: var(--ngm-interaction-hover);
}

.ngm-view-icon {
  background-color: var(--ngm-interaction);
  cursor: pointer;
}

ngm-dashboard .ngm-delete-icon:hover,
.ngm-view-icon:hover,
.ngm-view-icon:focus,
.ngm-edit-icon:hover,
.edit-project:hover > .ngm-edit-icon {
  background-color: var(--ngm-interaction-hover);
}

.project-menu {
  display: flex;
}

.edit-project {
  display: flex;
  color: var(--ngm-interaction);
}

.edit-project.active {
  color: var(--ngm-interaction-active);
  cursor: unset;
}

.edit-project > .ngm-edit-icon {
  margin: 0 10px;
}

.edit-project.active > .ngm-edit-icon,
.ngm-edit-icon.active {
  background-color: var(--ngm-interaction-active);
}

.project-image-and-color {
  margin-right: 12px;
}

.ngm-input.project-title {
  max-width: 364px;
}

.ngm-input,
.ngm-input input,
.ngm-input textarea {
  width: 100%;
}

.project-edit-fields {
  margin-left: 39px;
}

.project-view-edit {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

.project-edit-buttons {
  display: flex;
  align-content: flex-start;
  margin-top: 36px;
}

.project-edit-buttons .ngm-action-btn.ui.button {
  width: 156px;
  height: 36px;
  text-align: center;
  justify-content: center;
  margin-right: 12px;
}

ngm-add-member-form .ngm-cancel-btn.ui.button,
.project-edit-buttons .ngm-cancel-btn.ui.button {
  background-color: rgba(0, 0, 0, 0);
  color: #0c7285;
  box-shadow: none;
}

.ngm-proj-edit-assets {
  display: flex;
  width: 100%;
  gap: 22px;
}

ngm-project-assets-section,
ngm-project-geoms-section {
  width: 360px;
}

ngm-project-edit .ngm-action-list-item .ngm-action-list-item-header {
  display: flex;
  align-items: center;
}

ngm-project-edit .ngm-action-list-item .ngm-input {
  margin-right: 5px;
}

ngm-project-edit .ngm-action-list-item .ngm-input input {
  height: 36px;
  padding: 0;
}

.ngm-member {
  display: flex;
  align-items: center;
  gap: 12px;
}

.ngm-member .ngm-member-info div {
  user-select: text;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 233px;
}

.ngm-member-icon {
  min-width: 40px;
  width: 40px;
  height: 40px;
  background-color: #dee2e6;
  border-radius: 20px;
  font:
    normal normal bold 14px/20px Inter,
    sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ngm-member-email {
  font:
    normal normal 500 12px/15px Inter,
    sans-serif;
  color: var(--ngm-interaction);
}

ngm-project-members-section .project-edit-fields {
  display: flex;
  flex-direction: column;
  row-gap: 27px;
  align-items: start;
}

ngm-project-members-section .ngm-label-btn .ngm-zoom-p-icon {
  background-color: var(--ngm-interaction);
  width: 12px;
  height: 12px;
}

ngm-project-members-section .ngm-label-btn {
  margin-left: 0;
  display: flex;
  column-gap: 18px;
  align-items: center;
}

.ngm-member-add-form {
  width: 324px;
  background-color: #dee2e6;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  padding: 16px 12px;
}

.ngm-members-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

ngm-add-member-form .action-buttons {
  display: flex;
  column-gap: 5px;
}

ngm-add-member-form .ngm-action-btn.ui.button {
  display: flex;
  justify-content: center;
  width: auto;
  flex: 2;
}

ngm-add-member-form .ngm-cancel-btn.ui.button {
  flex: 1;
}

.ngm-member-container {
  display: flex;
  width: 324px;
  align-items: center;
}

.ngm-member-container .ngm-delete-icon {
  cursor: pointer;
  margin-left: auto;
}

.ngm-proj-views-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ngm-save-view-btn {
  display: flex;
  align-items: center;
  column-gap: 5px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  color: var(--ngm-interaction);
}

.ngm-save-view-btn:hover {
  color: var(--ngm-interaction-hover);
}

.ngm-save-view-btn:hover .ngm-save-icon {
  background-color: var(--ngm-interaction-hover);
}

@media (max-width: 819px) {
  .ngm-members-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
