ngm-minimap {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid #dfe2e6;
  align-items: center;
  justify-content: center;
}

.ngm-compass {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 25px;
  width: 40px;
  height: 40px;
}

.ngm-minimap-container {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  width: 228px;
  height: 141px;
  padding-top: 10px;
  padding-bottom: 30px;
}

.ngm-minimap-container .ngm-cam-icon,
.ngm-minimap-container .ngm-cam-behind-icon {
  cursor: grab;
  background-color: var(--ngm-interaction-active);
}

.ngm-minimap-container .ngm-cam-icon:active,
.ngm-minimap-container .ngm-cam-behind-icon:active {
  cursor: grabbing;
}

.ngm-compass-arrow > div.ngm-compass-arrow-top {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 12px solid var(--ngm-interaction-hover);
}

.ngm-compass-arrow > div.ngm-compass-arrow-bottom {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 12px solid #dee2e6;
}

.ngm-floating-window div.ngm-drag-area {
  height: auto;
}
