ngm-side-bar {
  display: flex;
  z-index: 5;
  max-width: 100vw;
}

.ngm-menu-mobile {
  display: flex;
  align-items: center;
  bottom: var(--ngm-bottom-menu-height);
  width: 100%;
  height: 56px;
  position: absolute;
  z-index: 9999;
  justify-content: center;
  background-color: white;
}

.ngm-menu-mobile > div {
  margin-bottom: 0;
  width: 68px;
}

.ngm-menu {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: center;

  .ngm-menu-top {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.ngm-side-bar-panel {
  width: 100%;
  height: calc(
    100% - (var(--ngm-header-height-mobile) + var(--ngm-bottom-menu-height))
  );
  max-width: 1028px;
  background-color: var(--color-bg--dark);
  box-shadow: 4px 0 4px #00000029;
  padding: var(--panel-padding);
  position: absolute;
  margin-left: 0;
  z-index: 5;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

ngm-navigation-catalog .ngm-side-bar-panel {
  margin-left: 0;
}

.ngm-side-bar-panel.ngm-large-panel {
  width: 100%;
}

.ngm-side-bar-panel.ngm-share-panel {
  width: 100%;
}

.ngm-side-bar-panel.ngm-extension-panel {
  width: 100%;
  left: 0;
}

.ngm-side-bar-panel.ngm-layer-catalog {
  z-index: 5;
}

.ngm-side-bar-panel .ngm-panel-content {
  max-height: calc(
    100vh -
      (var(--ngm-header-height-mobile) + var(--ngm-bottom-menu-height) + 34px)
  );
}

.ngm-panel-header {
  height: var(--ngm-panel-header-height);
  border-bottom: 2px solid #dfe2e6;
  display: flex;
  align-items: center;
  font:
    normal normal bold 14px/20px Inter,
    sans-serif;
  color: #212529;
}

.ngm-panel-header .ngm-close-icon {
  width: 24px;
  height: 24px;
  background-color: #000000;
  margin-left: auto;
}

.ngm-panel-header .ngm-close-icon:hover {
  background-color: var(--ngm-action-hover);
}

.ngm-close-icon,
.ngm-back-icon {
  cursor: pointer;
}

.inner-toolbar-settings {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  margin-top: 14px;
}

.ngm-label-btn {
  margin-left: auto;
  font:
    normal normal 500 14px/20px Inter,
    sans-serif;
  letter-spacing: 0;
  color: var(--ngm-interaction);
  opacity: 1;
  margin-right: 17px;
  cursor: pointer;
}

.ngm-label-btn.active {
  color: var(--ngm-interaction-active);
}

.ngm-label-btn:hover {
  color: var(--ngm-interaction-hover);
}

.ngm-background-label.ui.header {
  display: flex;
  height: 24px;
  margin-bottom: 6px;
}

.ngm-background-label > .ui.mini.loader {
  margin-left: 5px;
}

.ngm-panel-content {
  display: flex;
  flex-direction: column;
  margin-top: 9px;
  overflow-y: auto;
  overflow-x: hidden;
}

.ngm-configure-data {
  margin-right: 5px;
  margin-top: 9px;
}

.ngm-data-catalog-label {
  margin-right: 10px;
}

.ngm-data-catalog-label.active {
  color: var(--ngm-interaction-active);
}

@media (min-height: 629px) and (min-width: 599px) {
  .ngm-menu {
    position: relative;
    height: 100%;
    width: var(--ngm-left-side-bar-width);
    justify-content: space-between;
    flex-direction: column;
    padding: 12px 6px;

    .ngm-menu-top {
      flex-direction: column;
    }
  }

  .ngm-side-bar-panel {
    width: 250px;
    margin-left: var(--ngm-left-side-bar-width);
    height: calc(100vh - var(--ngm-header-height));
  }

  .ngm-side-bar-panel.ngm-large-panel {
    width: calc(100vw - 144px);
  }

  .ngm-side-bar-panel.ngm-share-panel {
    width: 436px;
  }

  .ngm-side-bar-panel.ngm-extension-panel {
    left: 250px;
    width: 528px;
  }
  .ngm-side-bar-panel .ngm-panel-content {
    max-height: unset;
  }
}

@media (max-width: 350px) {
  .ngm-menu-mobile > div {
    width: 60px;
  }
}

@media (max-height: 629px), (max-width: 599px) {
  .ngm-side-bar-panel.ngm-large-panel
    .ngm-proj-information
    .ngm-proj-description {
    margin-left: 0;
    margin-top: 12px;
    width: 100%;
  }

  .ngm-side-bar-panel.ngm-large-panel .ngm-proj-information {
    flex-direction: column;
  }

  .ngm-side-bar-panel.ngm-large-panel .ngm-projects-list .ngm-proj-preview {
    margin-right: 0;
    margin-bottom: 12px;
  }

  .ngm-side-bar-panel.ngm-share-panel,
  .ngm-side-bar-panel.ngm-large-panel {
    overflow: auto;
  }

  ngm-map-configuration .base-map-labels {
    display: flex;
    text-align: start;
  }

  ngm-map-configuration .base-map-labels label,
  ngm-map-configuration .ngm-map-preview {
    margin-right: 0;
    width: 110px;
  }

  ngm-map-configuration .base-map-labels,
  ngm-map-configuration ngm-map-chooser {
    margin-left: 10px;
    justify-content: center;
  }

  ngm-layers-item .ngm-displayed-slider {
    width: 150px;
  }
}
