.ngm-action-list-item {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  background-color: #f8f9fa;
  color: var(--ngm-interaction);
  height: 36px;
  font:
    normal normal bold 14px/20px Inter,
    sans-serif;
  padding: 10px 8px;
  margin-bottom: 4px;
  width: 100%;
}

.ngm-action-list-item .ngm-action-list-item-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
}

ngm-draw-section .ngm-action-list-item .ngm-action-list-item-header,
ngm-measure .ngm-action-list-item .ngm-action-list-item-header {
  justify-content: start;
  align-items: center;
  column-gap: 12px;
}

.ngm-action-list-item .ngm-action-list-item-header > div:nth-child(1) {
  display: flex;
  align-items: center;
  width: 100%;
  column-gap: 5px;
}

.ngm-geom-list
  .ngm-action-list-item
  .ngm-action-list-item-header
  > div:nth-child(1)
  > div {
  white-space: nowrap;
  max-width: 155px;
  overflow: hidden;
  text-overflow: ellipsis;
}

ngm-draw-section
  .ngm-action-list-item
  .ngm-action-list-item-header
  > div:nth-child(1),
ngm-measure
  .ngm-action-list-item
  .ngm-action-list-item-header
  > div:nth-child(1) {
  width: 24px;
}

.ngm-action-list-item-header > div:nth-child(1):hover {
  color: var(--ngm-interaction-hover);
}

.ngm-action-list-item-header.view {
  cursor: default;
}

.ngm-action-list-item-header.view > div:nth-child(1):hover {
  color: var(--ngm-interaction);
}

.ngm-action-list-item-header .ngm-action-menu-icon:hover {
  background-color: var(--ngm-interaction-hover);
}

.ngm-action-list-item.active > .ngm-action-list-item-header {
  color: var(--ngm-interaction-active);
}

.ngm-action-list-item.disabled {
  background-color: #f8f9fa;
}

.ngm-action-list-item.disabled .ngm-action-menu-icon {
  background-color: #868e96 !important;
}

.ngm-action-list-item.hidden .ngm-geom-name,
.ngm-action-list-item.disabled {
  cursor: default;
  pointer-events: none;
  color: #868e96 !important;
}

.ngm-action-list-item.disabled .ngm-layer-icon {
  background-color: #868e96 !important;
}

.ngm-action-list-item.hidden .ngm-action-menu {
  pointer-events: auto;
}

.ngm-action-menu.ngm-disabled {
  opacity: 0 !important;
}
