ngm-object-information {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 2;
  width: 528px;
  max-width: 100%;
  max-height: 100%;
  font-size: 14px;
  font-weight: bold;
}

ngm-object-information .htmlpopup-header {
  font-weight: bold;
  border-bottom: 2px solid #dfe2e6;
  padding-bottom: 8px;
  margin-bottom: 8px;
}

ngm-object-information .item-zoom-btn-container {
  font-weight: bold;
  border-top: 2px solid #dfe2e6;
  padding-top: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
}

ngm-object-information .query-list-item:first-child .item-zoom-btn-container {
  border-top: none;
  padding-top: 0;
  margin-top: 0;
}

ngm-object-information .ui.divider {
  margin: 10px 0 0 0;
}

ngm-object-information .content-container {
  margin-bottom: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 505px;
}

ngm-object-information div.content-container td,
ngm-object-information div.content-container span {
  user-select: text;
}

ngm-object-information
  .query-list-item:hover
  .htmlpopup-content
  > .ui.basic.table {
  background-color: #f9dca8;
}
