ngm-side-bar {
  display: flex;
}

.ngm-menu,
.ngm-menu-mobile,
.ngm-menu-1,
.ngm-menu-2,
.ngm-menu-1 > div,
.ngm-menu-2 > div,
.ngm-menu-mobile > div,
ngm-auth > .ngm-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


.ngm-menu,
.ngm-menu-mobile {
  width: 80px;
  justify-content: space-between;
  font: normal normal normal 12px/15px Inter;
  color: #222529;
  background-color: #FFFFFF;
}

.ngm-menu-1 {
  margin-top: 24px;
}

.ngm-menu-2 {
  margin-bottom: 40px;
}

.ngm-menu-1 > div,
.ngm-menu-2 > div,
.ngm-menu-2 > ngm-auth {
  margin-bottom: 28px;
  cursor: pointer;
}

.ngm-menu-2 > .ngm-nav-close {
  margin-bottom: 0;
}

.ngm-menu-1 > div > div:nth-child(1),
.ngm-menu-2 > div > div:nth-child(1),
.ngm-menu-mobile > div > div:nth-child(1),
ngm-auth .ngm-user-icon {
  margin-bottom: 5px;
  background-color: #030303;
}

.ngm-menu-1 > div:hover > div:nth-child(1),
.ngm-menu-2 > div:hover > div:nth-child(1),
.ngm-menu-mobile > div:hover > div:nth-child(1),
ngm-auth:hover .ngm-user-icon {
  background-color: var(--ngm-interaction-hover);
}

.ngm-menu-1 > div:hover,
.ngm-menu-2 > div:hover,
.ngm-menu-mobile > div:hover,
ngm-auth:hover {
  color: var(--ngm-interaction-hover);
}

.ngm-side-bar-panel {
  width: 250px;
  height: 100%;
  max-width: 1028px;
  background-color: #F1F3F5;
  box-shadow: 4px 0 4px #00000029;
  padding: 10px;
  position: absolute;
  margin-left: 80px;
  z-index: 5;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.ngm-side-bar-panel.ngm-large-panel {
  width: calc(100vw - 144px);
}

.ngm-side-bar-panel.ngm-extension-panel {
  width: 528px;
  left: 250px;
}

.ngm-panel-header {
  height: 34px;
  border-bottom: 2px solid #DFE2E6;
  display: flex;
  align-items: center;
  font: normal normal bold 14px/20px Inter;
  color: #212529;
}

.ngm-panel-header .ngm-close-icon {
  width: 24px;
  height: 24px;
  background-color: #000000;
  margin-left: auto;
}

.ngm-panel-header .ngm-close-icon:hover {
  background-color: var(--ngm-action-hover);
}

.ngm-close-icon,
.ngm-back-icon {
  cursor: pointer;
}

.ngm-panel-content {
  display: flex;
  flex-direction: column;
  margin-top: 9px;
  max-height: calc(100% - 124px);
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 40px;
  /* scrollbar-color: #868E96 #F1F3F5; */
}

.ngm-menu-1 > div.ngm-active-section > div:nth-child(1),
.ngm-menu-2 > div.ngm-active-section > div:nth-child(1),
.ngm-menu-2 > ngm-auth .ngm-active-section > div:nth-child(1) {
  background-color: var(--ngm-interaction-active);
}

.ngm-menu-1 > div.ngm-active-section,
.ngm-menu-2 > div.ngm-active-section,
.ngm-menu-2 > ngm-auth .ngm-active-section {
  color: var(--ngm-interaction-active);
}

.ngm-side-bar-panel.ngm-layer-catalog {
  z-index: 5;
}

.ngm-background-label.ui.header {
  display: flex;
  height: 24px;
  margin-bottom: 6px;
}

.ngm-background-label > .ui.mini.loader {
  margin-left: 5px;
}

.ngm-label-btn {
  margin-left: auto;
  font: normal normal 500 14px/20px Inter;
  letter-spacing: 0;
  color: var(--ngm-interaction);
  opacity: 1;
  margin-right: 17px;
  cursor: pointer;
}

.ngm-label-btn.active {
  color: var(--ngm-interaction-active);
}

.ngm-label-btn:hover {
  color: var(--ngm-interaction-hover);
}

.ngm-configure-data {
  margin-right: 5px;
  margin-top: 9px;
}

@media (max-height: 629px), (max-width: 599px) {
  .ngm-menu,
  .ngm-menu-1,
  .ngm-menu-2 {
    flex-direction: row;
    align-items: center;
    justify-content: start;
  }

  .ngm-menu,
  .ngm-menu-mobile {
    width: 100%;
    height: var(--ngm-bottom-menu-height);
    position: absolute;
    z-index: 9999;
    bottom: 0;
    justify-content: center;
  }

  .ngm-menu-1 {
    align-items: start;
    margin: 0;
  }

  .ngm-menu-1 > div,
  .ngm-menu-mobile > div,
  .ngm-menu-1 > ngm-auth {
    margin-bottom: 0;
    width: 68px;
  }

  .ngm-menu-mobile > div:first-child,
  .ngm-menu-1 > div:first-child {
    margin-left: 12px;
  }

  .ngm-menu-mobile {
    display: flex;
    flex-direction: row;
    align-items: start;
    bottom: var(--ngm-bottom-menu-height);
    height: 62px;
  }

  .ngm-menu-mobile > div {
    margin-top: 10px;
  }

  .ngm-side-bar-panel {
    margin-left: 0;
    height: calc(100% - (var(--ngm-header-height-mobile) + var(--ngm-bottom-menu-height)));
  }

  .ngm-side-bar-panel .ngm-panel-content {
    max-height: calc(100vh - (var(--ngm-header-height-mobile) + var(--ngm-bottom-menu-height) + 34px));
  }

  .ngm-side-bar-panel.ngm-large-panel {
    width: calc(100vw - 64px);
  }

  .ngm-menu-1 > div > div:nth-child(1),
  .ngm-menu-mobile > div > div:nth-child(1),
  ngm-auth .ngm-user-icon {
    margin-bottom: 1px;
    background-color: #030303;
    height: 24px;
  }

  .ngm-side-bar-panel.ngm-large-panel .ngm-proj-information .ngm-proj-description {
    margin-left: 0;
    margin-top: 12px;
    width: 100%;
  }

  .ngm-side-bar-panel.ngm-large-panel .ngm-proj-information {
    flex-direction: column;
  }

  .ngm-side-bar-panel.ngm-large-panel .ngm-projects-list .ngm-proj-preview {
    margin-right: 0;
    margin-bottom: 12px;
  }

  .ngm-side-bar-panel.ngm-side-bar-panel,
  .ngm-side-bar-panel.ngm-large-panel {
    width: 100%;
  }

  .ngm-side-bar-panel.ngm-large-panel {
    overflow: auto;
  }

  .ngm-side-bar-panel.ngm-extension-panel {
    left: 0;
  }

  .ngm-data-catalog-label {
    margin-right: 10px;
  }

  .ngm-data-catalog-label.active {
    color: var(--ngm-interaction-active);
  }

  ngm-map-configuration .base-map-labels {
    display: flex;
    text-align: start;
  }

  ngm-map-configuration .base-map-labels label,
  ngm-map-configuration .ngm-map-preview {
    margin-right: 0;
    width: 110px;
  }

  ngm-map-configuration .base-map-labels,
  ngm-map-configuration ngm-map-chooser {
    margin-left: 10px;
    justify-content: center;
  }

  ngm-layers-item .ngm-displayed-slider {
    width: 150px;
  }
}

@media (max-width: 350px) {
  .ngm-menu-1 > div,
  .ngm-menu-mobile > div,
  .ngm-menu-1 > ngm-auth {
    width: 60px;
  }
}
