.ngm-slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 4px;
  background: #ffffff;
}

.ngm-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 24px;
  height: 24px;
  background: var(--color-bg--white) 0 0 no-repeat padding-box;
  box-shadow: 0 2px 2px #00000029;
  border: 3px solid var(--color-primary);
  border-radius: 50%;
  cursor: pointer;
}

.ngm-slider::-moz-range-thumb {
  width: 24px;
  height: 24px;
  background: var(--color-bg--white) 0 0 no-repeat padding-box;
  box-shadow: 0 2px 2px #00000029;
  border: 3px solid var(--color-primary);
  border-radius: 50%;
  cursor: pointer;
}

.ngm-slider:not(.disabled)::-moz-range-thumb:hover {
  box-shadow: 0 0 4px 1px #68d9e7;
}

.ngm-slider:not(.disabled)::-webkit-slider-thumb:hover {
  box-shadow: 0 0 4px 2px #68d9e7;
}

.ngm-slider:not(.disabled)::-moz-range-thumb:active {
  background-color: #68d9e7;
}

.ngm-slider:not(.disabled)::-webkit-slider-thumb:active {
  background-color: #68d9e7;
}

.ngm-slider.disabled::-moz-range-thumb {
  cursor: not-allowed;
}

.ngm-slider.disabled::-webkit-slider-thumb {
  cursor: not-allowed;
}

.ngm-slider.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
