ngm-cam-configuration {
  width: 260px;
  color: #495057;
  text-align: left;
  letter-spacing: 0;
}

.ngm-cam-container > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #dfe2e6;
  padding: 10px;
}

.ngm-cam-container > div > div:first-child {
  background-color: var(--ngm-interaction);
  cursor: pointer;
}

.ngm-cam-container > div > div:first-child:hover {
  background-color: var(--ngm-interaction-hover);
}

.ngm-cam-container > div > div.ngm-active-icon {
  background-color: var(--ngm-interaction-active);
}

.ngm-cam-container .ngm-cam-icon,
.ngm-cam-container .ngm-cam-behind-icon {
  margin-bottom: auto;
  margin-top: 24px;
}

.ngm-cam-conf-slider > div:first-child {
  display: flex;
  justify-content: space-between;
}

.ngm-cam-conf-slider > div:first-child label:nth-child(2) {
  white-space: nowrap;
}

.ngm-cam-conf-slider > input {
  width: 100%;
}

.ngm-cam-conf-number-input {
  border: none;
  padding: 0;
  width: 50%;
  background-color: unset;
  justify-items: end;
}

.ngm-cam-coord {
  display: flex;
  flex-direction: column;
}

.ngm-cam-coord > div:first-child {
  margin-bottom: 20px;
}

.ngm-cam-coord .dropdown.active,
.ngm-cam-coord .dropdown {
  background-color: transparent;
  font:
    normal normal bold 15px/24px Inter,
    sans-serif;
  padding: 0;
}

.ngm-cam-coord .ngm-coords {
  font:
    normal normal bold 15px/24px Inter,
    sans-serif;
  letter-spacing: 0.16px;
  color: #222529;
}

.ngm-cam-coord .ngm-coords-input {
  background-color: unset;
  border: none;
}

.ngm-cam-coord .ui.dropdown .menu {
  border-radius: 0;
  box-shadow: 0 3px 4px #00000029;
}

.ngm-cam-coord .ui.dropdown .menu .item:hover {
  background-color: var(--ngm-hover);
}

.ngm-cam-conf-slider,
.ngm-cam-coord {
  width: 180px;
}

.ngm-cam-lock-info .actions {
  padding: 0 !important;
  margin: 0 !important;
}

.ngm-cam-lock-info .actions button.ui.button {
  background: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
  color: white;
}

.ngm-cam-lock-info .actions button.ui.button:hover {
  color: var(--ngm-interaction-hover);
}
