ngm-voxel-simple-filter {
  width: 520px;
}

ngm-voxel-simple-filter .content-container > * {
  border-bottom: 2px solid #dfe2e6;
  padding: 10px;
}

ngm-voxel-simple-filter input[type="number"] {
  width: 80px;
}

ngm-voxel-simple-filter .filter-label {
  font-weight: bold;
}
