ngm-dashboard .ngm-panel-header,
.ngm-proj-title,
.ngm-proj-views-title,
.ngm-projects-list {
  margin-bottom: 12px;
}

.ngm-proj-views-title,
.ngm-proj-title {
  display: flex;
  color: #212529;
  font: normal normal bold 14px/20px Inter;
}

.ngm-proj-title {
  justify-content: space-between;
}

.ngm-proj-views-title > div:first-child {
  margin-right: 15px;
}

.ngm-dashboard-tabs {
  color: var(--ngm-interaction);
  display: flex;
}

.ngm-dashboard-tabs > div:hover, .edit-project:hover {
  color: var(--ngm-interaction-hover);
  cursor: pointer;
}

.ngm-dashboard-tabs > div.active {
  color: var(--ngm-interaction-active);
}

.ngm-dashboard-tabs > div:not(:last-child) {
  margin-right: 24px;
}

.ngm-projects-list {
  display: flex;
  flex-wrap: wrap;
}

.ngm-proj-preview {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 2px 2px 2px #00000029;
  border-radius: 8px;
  width: 240px;
  height: 228px;
  cursor: pointer;
  margin: 8px;
}

.ngm-proj-preview-img {
  width: 240px;
  height: 132px;
  background-size: cover;
  background-repeat: no-repeat;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.ngm-proj-preview-title,
.project-color-picker {
  background-color: var(--ngm-interaction-active);
  width: 240px;
  height: 32px;
  color: white;
  font: normal normal bold 14px/28px Inter;
}

.project-color-picker {
  height: 87px;
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-left: 11px;
}

.ngm-proj-preview-subtitle {
  width: 100%;
  height: calc(100% - 164px);
  font: normal normal 500 14px/20px Inter;
  color: #212529;
}

.ngm-proj-preview-subtitle,
.ngm-proj-preview-title {
  display: flex;
  align-items: center;
  padding: 0 8px;
}

.ngm-proj-preview-subtitle span {
  height: 70%;
  display: block;
  display: -webkit-box;
  max-width: 224px;
  margin: 0 auto;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

ngm-dashboard .ngm-divider {
  margin-top: 16px;
  margin-bottom: 19px;
}

.ngm-proj-information {
  display: flex;
}

.ngm-proj-description {
  margin-left: 28px;
  font: normal normal 500 16px/24px Inter;
  letter-spacing: 0.16px;
  color: #4A5056;
  width: 450px;
}

.ngm-proj-data {
  margin-bottom: 16px;
  font: normal normal 500 14px/20px Inter;
  color: #212529;
}

.ngm-proj-description-title {
  font: normal normal 500 12px/15px Inter;
  letter-spacing: 0.41px;
}

ngm-project-popup {
  width: 480px;
}

ngm-project-popup.compact {
  width: 260px;
}

.ngm-project-popup-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 1px 3px #00000033;
  margin-bottom: 12px;
}

.ngm-project-view-title {
  padding: 8px 0;
  max-width: 380px;
}
.compact .ngm-project-view-title {
  max-width: 170px;
}

.ngm-project-popup-content > .ngm-play-last-icon,
.ngm-project-popup-content > .ngm-play-icon {
  cursor: pointer;
  margin: 4px;
}

.ngm-project-popup-content > .ngm-play-last-icon:hover,
.ngm-project-popup-content > .ngm-play-icon:hover {
  background-color: var(--ngm-interaction-hover);
}

ngm-dashboard .ngm-label-btn {
  display: flex;
  align-items: center;
  justify-content: start;
}

ngm-dashboard .ngm-label-btn .ngm-back-icon {
  background-color: var(--ngm-interaction);
  margin-right: 8px;
}

ngm-dashboard .ngm-label-btn:hover .ngm-back-icon {
  background-color: var(--ngm-interaction-hover);
}

.ngm-view-icon {
  background-color: var(--ngm-interaction);
  cursor: pointer;
}

.ngm-view-icon:hover, .ngm-view-icon:focus, .ngm-edit-icon:hover, .edit-project:hover > .ngm-edit-icon {
  background-color: var(--ngm-interaction-hover);
}

.project-menu {
  display: flex;
}

.edit-project {
  display: flex;
  color: var(--ngm-interaction);
  /* width: max-content; */
  /* margin-left: 36px; */
}

.edit-project.active {
  color: var(--ngm-interaction-active);
  cursor: unset;
}

.edit-project > .ngm-edit-icon  {
  margin: 0 10px;
}

.edit-project.active > .ngm-edit-icon  {
  background-color: var(--ngm-interaction-active);
}

.project-image-and-color {
  margin-right: 12px;
}

.ngm-input.project-title {
  max-width: 364px;
}

.ngm-input, .ngm-input input, .ngm-input textarea {
  width: 100%;
}

.project-views-edit {
  margin-left: 32px;
}

.project-view-edit {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

.project-edit-buttons {
  display: flex;
  align-content: flex-start;
  margin-top: 36px;
}

.project-edit-buttons .ngm-action-btn.ui.button {
  width: 156px;
  height: 36px;
  text-align: center;
  justify-content: center;
  margin-right: 12px;
}

.project-edit-buttons .ngm-cancel-btn.ui.button {
  background-color: rgba(0, 0, 0, 0);
  color: #0C7285;
  box-shadow: none;
}
