ngm-voxel-filter {
  width: 520px;
}

ngm-voxel-filter .content-container > div {
  border-bottom: 2px solid #DFE2E6;
  padding: 10px;
}

ngm-voxel-filter input[type="number"] {
  width: 80px;
}

ngm-voxel-filter .lithology-checkbox {
  display: flex;
  flex-direction: column;
}
