.ngm-coord-input,
.ngm-angle-height-input {
  display: flex;
}

.ngm-angle-height-input {
  margin-top: 5px;
}

.ngm-angle-height-input > div {
  margin-right: 2px;
}

.ngm-position-edit-popup {
  min-width: 310px;
}

.ngm-position-edit-popup input {
  width: 110px;
}

input.ngm-point-depth-input,
input.ngm-height-input {
  width: 80px;
}

input.ngm-angle-input,
input.ngm-tilt-input {
  width: 60px;
}
