ngm-tools {
  height: 100%;
}

ngm-draw-tool,
ngm-slicer,
ngm-gst-interaction,
ngm-measure {
  height: calc(100% - (var(--ngm-panel-header-height) + 10px));
  display: flex;
  flex-direction: column;
}

ngm-geometries-list {
  min-height: 140px;
  height: 100%;
}

ngm-geometries-simple-list {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
}

.ngm-geom-list {
  overflow-y: auto;
  height: 100%;
}

.ngm-draw-list-item,
.ngm-tools-list-item {
  display: flex;
  align-items: center;
  color: #212529;
  text-align: left;
  font:
    normal normal bold 14px/20px Inter,
    sans-serif;
  letter-spacing: 0;
  padding: 14px 0;
}

.ngm-draw-list-item div:nth-child(2),
.ngm-tools-list-item div:nth-child(2) {
  margin-left: 12px;
}

.ngm-slice-side > div:hover > div:nth-child(1),
.ngm-draw-list-item:hover div:nth-child(1),
.ngm-tools-list-item:hover div:nth-child(1) {
  background-color: var(--ngm-interaction-hover);
}

.ngm-draw-list-item:hover,
.ngm-tools-list-item:hover,
.ngm-slice-side > div:hover {
  color: var(--ngm-interaction-hover);
}

.ngm-slice-side > div.active,
.ngm-draw-list-item.active {
  color: var(--ngm-action-hover);
}

ngm-gst-interaction .ngm-action-list-item.active,
ngm-slicer .ngm-action-list-item.active,
ngm-measure .ngm-action-list-item.active,
ngm-draw-section .ngm-action-list-item.active {
  height: auto;
}

.ngm-draw-list-item.disabled > div:first-child {
  background-color: #868e96 !important;
}

.ngm-slice-types.disabled > .ngm-action-list-item,
.ngm-draw-list-item.disabled {
  cursor: default;
  pointer-events: none;
  color: #868e96 !important;
}

.ngm-hint {
  background-color: var(--ngm-hover);
  color: #212529;
  font:
    normal normal bold 14px/20px Inter,
    sans-serif;
  letter-spacing: 0;
  padding: 12px;
  border-radius: 8px;
}

.ngm-slice-type-label,
.ngm-geom-label {
  margin-top: 12px;
  margin-bottom: 16px;
  font:
    normal normal 500 14px/20px Inter,
    sans-serif;
  color: #212529;
}

.ngm-slice-side > div.active > div:nth-child(1),
.ngm-draw-list-item.active div:nth-child(1) {
  background-color: var(--ngm-action-hover);
}

.ngm-slice-side {
  display: flex;
  font:
    normal normal 500 14px/28px Inter,
    sans-serif;
  margin-bottom: 20px;
  width: 214px;
}

.ngm-slice-side > div {
  display: flex;
  align-items: center;
}

.ngm-slice-side > div:nth-child(1) {
  margin-right: 37px;
}

.ngm-slice-side > div > div:nth-child(1) {
  margin-right: 13px;
}

ngm-slicer .ui.button.ngm-transform-btn {
  display: flex;
  margin-left: auto;
  height: 36px;
  background-color: var(--ngm-interaction);
  box-shadow: 0 1px 3px #00000033;
  color: #fff;
  vertical-align: middle;
  letter-spacing: 0.25px;
}

ngm-slicer .ui.button.ngm-transform-btn:hover {
  background-color: #d0f5f9;
  color: #357183;
}

ngm-slicer .ngm-hint,
ngm-slicer .ngm-divider,
ngm-measure .ngm-hint,
ngm-draw-section .ngm-hint,
ngm-measure .ngm-divider,
ngm-draw-section .ngm-divider {
  margin-top: 12px;
}

.ngm-geom-filter.ngm-action-list-item {
  background-color: #f1f3f5;
}

.ngm-geom-filter.ngm-action-list-item
  .ngm-action-list-item-header
  > div:first-child {
  width: auto;
}

.ngm-geom-filter.ngm-action-list-item
  .ngm-action-list-item-header
  > div:not(:first-child, :last-child):hover {
  background-color: var(--ngm-interaction-hover);
}

.ngm-geom-filter.ngm-action-list-item
  .ngm-action-list-item-header
  > div:not(:first-child, :last-child).active {
  background-color: var(--ngm-interaction-active);
}

.ngm-geom-filter.ngm-action-list-item
  .ngm-action-list-item-header
  > div:first-child.active {
  color: var(--ngm-interaction-active);
}

.ngm-gst-container,
.ngm-gst-container .ngm-input > input {
  width: 100%;
}

.ngm-gst-container > div:first-child {
  margin-top: 12px;
}

.ngm-gst-container > div {
  margin-bottom: 12px;
}

.ngm-section-format-container {
  font:
    normal normal bold 15px/24px Inter,
    sans-serif;
  letter-spacing: 0.16px;
  color: #222529;
}

.ngm-section-format-container > label {
  color: #495057;
  font:
    normal normal 500 14px/20px Inter,
    sans-serif;
}

.ngm-section-format-container .dropdown.active,
.ngm-section-format-container .dropdown {
  background-color: transparent;
  font:
    normal normal bold 15px/24px Inter,
    sans-serif;
  padding: 0;
}

.ngm-section-format-container .ui.dropdown .menu {
  border-radius: 0;
  box-shadow: 0 3px 4px #00000029;
  width: 100%;
}

.ngm-section-format-container .ui.dropdown .menu .item:hover {
  background-color: var(--ngm-hover);
}

.ngm-measure-segment-info:hover .ngm-measure-segment-title {
  color: var(--ngm-interaction-hover);
}
.ngm-measure-segment-info:hover {
  background-color: rgba(255, 255, 0, 0.2);
}
