.ngm-checkbox {
  text-align: left;
  font:
    normal normal 500 14px/20px Inter,
    sans-serif;
  color: #357183;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  cursor: pointer;
}

.ngm-checkbox.active {
  color: var(--ngm-action-hover);
}

.ngm-checkbox:hover {
  color: var(--ngm-interaction-hover);
}

.ngm-checkbox > label {
  margin-left: 15px;
  cursor: pointer;
}

.ngm-checkbox input {
  display: none;
}

.ngm-checkbox input:checked + .ngm-checkbox-icon {
  background: var(--ngm-interaction);
  border: 2px solid transparent;
}

.ngm-checkbox input:checked + .ngm-checkbox-icon::before {
  display: block;
}

.ngm-checkbox .ngm-checkbox-icon {
  width: 19px;
  height: 18px;
  display: block;
  position: relative;
  border-radius: 2px;
  border: 2px solid var(--ngm-interaction);
  transition: all 0.5s ease;
}

.ngm-checkbox.active .ngm-checkbox-icon {
  border-color: var(--ngm-action-hover);
}

.ngm-checkbox.active input:checked + .ngm-checkbox-icon {
  background: var(--ngm-action-hover);
}

.ngm-checkbox:hover .ngm-checkbox-icon {
  border-color: var(--ngm-interaction-hover);
}

.ngm-checkbox:hover input:checked + .ngm-checkbox-icon {
  background: var(--ngm-interaction-hover);
}

.ngm-checkbox .ngm-checkbox-icon::before {
  content: "";
  top: -2px;
  left: 3px;
  width: 8px;
  height: 14px;
  display: none;
  position: absolute;
  transform: rotate(45deg);
  transition: all 0.5s ease;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
}
