.ngm-input {
  position: relative;
}

.ngm-input textarea,
.ngm-input input {
  appearance: none;
  background: rgba(255, 255, 255, 1);
  border-radius: 4px 4px 0 0;
  border: 2px solid transparent;
  width: 236px;
  height: 54px;
  border-bottom-color: #66d9e8;
  font:
    normal normal 500 16px/24px Inter,
    sans-serif;
  color: #212529;
  outline: none;
  padding-left: 16px;
  padding-top: 17px;
}

.ngm-input textarea:not(:placeholder-shown) ~ .ngm-floating-label,
.ngm-input textarea:focus ~ .ngm-floating-label,
.ngm-input input:focus ~ .ngm-floating-label,
.ngm-input input:not(:placeholder-shown) ~ .ngm-floating-label {
  padding-top: 4px;
  bottom: 10px;
  font-size: 12px;
  line-height: 15px;
}

.ngm-floating-label {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 16px;
  padding-top: 17px;
  transition: 0.2s ease all;
  color: #4a5056;
  letter-spacing: 0.16px;
  height: 20px;
  background-color: white;
  width: calc(100% - 24px);
}

.ngm-input textarea {
  height: 102px;
  resize: none;
}

.ngm-input.ngm-input-warning .ngm-floating-label {
  color: var(--ngm-warning);
}

.ngm-input.ngm-input-warning input {
  border-bottom-color: var(--ngm-warning);
}

.ngm-input textarea::placeholder,
.ngm-input input::placeholder,
.ngm-input textarea::-webkit-input-placeholder,
.ngm-input input::-webkit-input-placeholder {
  opacity: 0;
}

/* Input style dropdown */

.ngm-input.ui.dropdown {
  height: 56px;
  padding-top: 21px !important;
  border: none !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-bottom: 2px solid #52a8bc !important;
}

.ngm-input.ui.selection.active.dropdown .menu {
  border-top: 2px solid #52a8bc !important;
}

.ngm-input.ui.dropdown > .dropdown.icon {
  padding-top: 21px !important;
  color: #52a8bc !important;
  opacity: 1 !important;
}

.ngm-input.ui.active.selection {
  background-color: #c5f6fa;
}

.ngm-input.ui.dropdown .menu .item.active.selected {
  background-color: #f8f9fa;
  font-weight: normal !important;
}

.ngm-input.ui.dropdown .menu.visible {
  display: block !important;
}

.ngm-input.ui.dropdown.ngm-input-warning .text {
  color: var(--ngm-warning) !important;
}

.ngm-input.ui.dropdown.ngm-input-warning {
  border-bottom-color: var(--ngm-warning) !important;
}
