ngm-cursor-information {
  flex-wrap: wrap;
  align-self: center;
  color: #212529;
  text-align: left;
  font: normal normal normal 14px/20px Inter;
  letter-spacing: 0;
  min-width: 255px;
}

ngm-cursor-information .ngm-nci-value {
  font-weight: 600;
  min-width: 75px;
}

.ngm-nci-position {
  width: 83px;
  margin-right: 20px;
}

.ngm-nci-height {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  margin-right: 10px;
}

ngm-cursor-information > img {
  width: 24px;
}

@media (max-width: 1193px) {
  .ngm-nci-height,
  .ngm-nci-position {
    display: none;
  }
  ngm-cursor-information {
    min-width: 0;
  }
}
