.ngm-maps-container {
  display: flex;
}

.ngm-map-preview img {
  display: block;
  height: 50px;
}

.ngm-map-preview {
  cursor: pointer;
  padding: 4px;
  background-color: white;
  margin-right: 4px;
  border: 1px solid lightgrey;
}

.ngm-map-preview:hover {
  opacity: 0.75;
}

.ngm-map-preview.active img {
  border: 2px solid var(--ngm-interaction-active);
  opacity: 0.75;
}

.ngm-bg-chooser-map {
  background: #f1f3f5;
  box-shadow: 4px 4px 2px #00000029;
  border-radius: 28px;
  height: 56px;
  margin: auto 12px;
}

.ngm-bg-chooser-map .ngm-maps-container {
  width: 256px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ngm-bg-chooser-map .ngm-close-icon {
  background-color: black;
  width: 24px;
  height: 24px;
  margin-left: 12px;
  margin-right: 16px;
  cursor: pointer;
}

.ngm-bg-chooser-map .ngm-map-preview.active {
  border-radius: 24px;
}

.ngm-bg-chooser-map .ngm-map-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: none;
  padding: 0;
  margin-right: 8px;
}

.ngm-bg-chooser-map .ngm-map-preview:first-child {
  margin-left: 12px;
}

.ngm-maps-container .ngm-map-preview img {
  height: 40px;
  border-radius: 20px;
}

.ngm-bg-chooser-map .ngm-selected-map-container .ngm-map-preview {
  height: 48px;
  width: 48px;
  margin: 4px;
  background-color: #f1f3f5;
}

.ngm-bg-chooser-map .ngm-selected-map-container .ngm-map-preview img {
  border-radius: 24px;
  border: none;
  opacity: 1;
}

.ngm-bg-chooser-map .ngm-selected-map-container:hover .ngm-map-preview {
  background-color: #dee2e6;
}
