.ui.toast-container.bottom.center .toast-box.floating,
.ui.toast-container.bottom.center {
  border: none;
  box-shadow: none;
}

.ui.toast-container.bottom.center .toast-box.floating .snackbar.info > i {
  top: 10px;
  right: 10px;
  position: absolute;
  cursor: pointer;
  margin: 0;
}

.ui.toast-container.bottom.center .toast-box.floating .snackbar.info .content {
  padding-right: 10px;
}

.snackbar {
  color: white;
  background-color: #495057;
  padding: 12px 16px 13px 16px;
  border-radius: 8px;
  box-shadow: 6px 6px 8px #00000029;
}

.ui.toast-container.bottom.center .toast-box.floating .snackbar .actions {
  display: flex;
  justify-content: end;
  background-color: #495057;
  border: none;
  border-radius: 8px;
}

.snackbar.success {
  color: #212529;
  background-color: #8ce99a;
}

.snackbar.error {
  color: #212529;
  background-color: #ffa8a8;
}

.snackbar.warning {
  color: #212529;
  background-color: #ffc078;
}

.actions .ui.button.ngm-action-btn {
  width: auto;
}

.actions .ui.button.ngm-cancel-btn {
  background-color: #dee2e6;
  color: #495057;
}

.ngm-toast-placeholder > .ui.toast-container.attached {
  position: relative;
  margin-bottom: 5px;
  left: -10px;
  width: calc(100% + 20px);
  box-shadow: none;
}

.ngm-toast-placeholder > .ui.toast-container.attached .floating.toast-box,
.ngm-toast-placeholder > .ui.toast-container.attached .snackbar {
  box-shadow: none;
}

.ngm-toast-placeholder div.snackbar {
  display: flex;
  align-items: center;
}

.ngm-toast-placeholder div.snackbar > img {
  margin-right: 12px;
}

.ngm-toast-placeholder div.snackbar > i {
  margin-left: auto;
}
