project-selector {
  width: 420px;
}

project-selector .menu {
  border: none !important;
  margin: 0 !important;
  min-width: 100% !important;
  width: 100% !important;
  box-shadow: 2px 6px 10px #54545066;
}

project-selector .ngm-action-btn.ui.button {
  width: 124px;
  display: inline-block;
  text-align: center;
}

project-selector .ui.dropdown {
  margin-top: 22px;
  margin-bottom: 42px;
}
