:root {
  --ngm-interaction: #0b7285;
  --ngm-interaction-active: #b9271a;
  --ngm-interaction-hover: #ff0000;
  --ngm-action-hover: #a83526;
  --ngm-hover: #c5f6fa;
  --ngm-warning: #c92a2a;
  --ngm-header-height: 88px;
  --ngm-header-height-mobile: 48px;
  --ngm-bottom-menu-height: 56px;
  --ngm-panel-header-height: 34px;
  --ngm-left-side-bar-width: 80px;
}
