@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

@import url('https://unpkg.com/fomantic-ui@2.8.2/dist/components/reset.min.css');
@import url('https://unpkg.com/fomantic-ui@2.8.2/dist/components/message.min.css');

body, html {
  height: 100%;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  line-height: 1.4285em;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

header, footer {
  display: flex;
  align-items: center;
}

header {
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  background-image: url('header-geologieportal.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  background-color: #fff;
}

header > .logo {
  margin-right: 80px;
  margin-bottom: 10px;
}

footer {
  justify-content: flex-end;
  padding: 4px;
  font-size: 0.85em;
  background-color: rgba(214, 214, 214, 0.9);
}

#outdated-browser {
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url('outdated-background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fafafb;
  z-index: 1;
}

main {
  flex: auto;
  display: flex;
  overflow: hidden;
}

#cesium {
  flex: auto;
}


/* Languages */
#langs {
  position: absolute;
  right: 3em;
}

#langs a {
  color: black;
}

#langs a:lang(fr).lang-fr {
  color: red;
}
#langs a:lang(en).lang-en {
  color: red;
}
#langs a:lang(it).lang-it {
  color: red;
}
#langs a:lang(de).lang-de {
  color: red;
}
#langs a:lang(rm).lang-rm {
  color: red;
}
