body, html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

header, footer {
  display: flex;
}

header {
  padding: 10px 10px 20px 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  background-image: url('header-geologieportal.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

footer {
  justify-content: flex-end;
  align-items: center;
  padding: 4px;
  font-size: 0.85em;
  background-color: rgba(214, 214, 214, 0.9);
}

.outdated-browser {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 1;
}

main {
  flex: auto;
  display: flex;
  overflow: hidden;
}

main > .cesium {
  flex: auto;
}
