:root {
    --color-bg: #FFF;
    --color-bg--dark: #F1F3F5;

    --color-bg-contrast: #000;
    --color-bg-contrast--light: #212529;
    --color-bg-contrast--lighter: #656363;

    --color-highlight: #C5F6FA;
    --color-highlight--dark: #66D9E8;
    --color-highlight--darker: #0B7285;

    --color-main: #337083;
    --color-main--dark: #2F4356;

    --color-hovered: #D6E2E6;
    --color-pressed: #DFE4E9;

    --color-active: #607D52;
    --color-rest-active: #B2D2A2;

    --color-action: #a83526;
    --color-action--light: #FF0000;
    --color-medium-emphasis: #2F4356;

    --panel-padding: 10px;

    --icon-size--normal: 24px;

    --font: 'Inter', sans-serif;
    font-family: var(--font);
    font-size: 16px;
}
