name: CI

on:
  push:
    branches:
      - master
      - oldmaster
    tags:
      - "int_*"
      # - "prod_*" # prod is deployed through the branch, not the tag
      # - "prod_viewer_*" # prod-viewer is deployed through the branch, not the tag
  pull_request:
    branches:
      - master
      - next-prod
      - oldmaster

env:
  IN_CI: "1"

jobs:
  build:
    runs-on: ubuntu-20.04
    timeout-minutes: 12

    steps:
      - uses: actions/checkout@v2

      - name: Add review links
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
        run: scripts/github_add_link_for_reviews.sh

      - name: Npm setup
        run: npm ci && du -sh node_modules

      - name: Lint
        run: npm run lint

      - name: Test
        run: npm run test

      - name: Cypress run
        uses: cypress-io/github-action@v2
        with:
          command: npm run test:e2e

      - name: Build
        run: export RELEASE_NAME="${scripts/get_github_name.sh}"; echo $RELEASE_NAME; npm run build

      - name: Build storybook
        run: npm run build-storybook

      - name: Deploy to S3
        env:
          AWS_REGION: "eu-west-1"
          AWS_ACCESS_KEY_ID: ${{secrets.AWS_ACCESS_KEY_ID}}
          AWS_SECRET_ACCESS_KEY: ${{secrets.AWS_SECRET_ACCESS_KEY}}
        run: scripts/github_deploy.sh
